[2016-12-16 16:20] pgiraud commented on #696
![screenshot from 2016-12-16 17 15 17](https://cloud.githubusercontent.com/assets/319774/21269579/83abae54-c3b3-11e6-8153-e7e00e5289ce.png)
![screenshot from 2016-12-16 17 16 47](https://cloud.githubusercontent.com/assets/319774/21269582/86838750-c3b3-11e6-893d-c835b43796ac.png)

[2016-12-19 13:47] pgiraud commented on #661
This should be possible.
@stufraser1 please tell us what would be the text for the link as well as what the new page should contain (apart from the map).

[2016-12-20 11:02] stufraser1 commented on #661
The link text should read 'Data map'

Above the amp, please include the text:
'ThinkHazard! classifies hazard using global, regional and national data. Coverage of each hazard varies around the world. Click on a country to see the data available for the selected hazard.'

And below the map (can be smaller text):
'The boundaries, colors, denominations, and other information shown on any map in this

[2016-12-20 11:28] stufraser1 commented on #696
Thank you - these are preferable to the current colours, please proceed with these

[2016-12-20 13:48] #696 closed

[2016-12-20 13:49] #674 closed

[2016-12-20 14:52] pgiraud commented on #668
@stufraser1 If I'm not wrong you would like to include images in the FAQ answers? Not only text with links, right?

[2016-12-20 16:02] stufraser1 commented on #668
One image at this stage, to help with users' understanding. If this poses a problem, we may be able to find another way, without the image.

[2016-12-21 14:48] stufraser1 commented on #408
Revisiting this issue, climate change documents should be shown for RF, UF, CF, CY, DG, WF, EH.
Please confirm whether we should make CC documents appear in UI for >1 hazard by listing the first hazard in hazard_typefield then the rest in supplemental information, or whether it is possible to list 'climate_change' in supplemental information only, as we have done for several documents, e.g., http:

[2016-12-22 10:24] pgiraud commented on #668
@stufraser1 The FAQ for v2 has been updated. With the collapsible blocks.
You can see it here:
http://wb-thinkhazard.dev.sig.cloud.camptocamp.net/v2/

Any feedback is welcomed.
I'm waiting for an image to put in the "How does TH! work?" section.

[2016-12-22 10:31] pgiraud commented on #682
What we can do is check the referrer (ie. where the user comes from). If it's null or different from the TH! website then we can display the disclaimer.

[2016-12-22 12:57] pgiraud commented on #680
@ingenieroariel Can you please send me the style config? You should be able to download the style from the mapbox styles interface.

[2016-12-22 15:37] pgiraud commented on #682
@stufraser1 I'm not sure what text to use for the disclaimer in the modal.

What paragraph stating licences are you talking about?

In #675 you refer to some text to be put in the disclaimer window.

Also, there is a more detailed disclaimer in the PDF output.
https://github.com/GFDRR/thinkhazard/blob/master/thinkhazard/templates/pdf_about.jinja2#L19-L33

This is not clear to me.

[2016-12-22 15:50] pgiraud commented on #697
See #694

[2016-12-22 22:38] ingenieroariel commented on #680
Unfortunately not anymore, Mapbox changed their UI and what we used at the time is now deprecated.

<img width="1030" alt="screen shot 2016-12-22 at 5 37 13 pm" src="https://cloud.githubusercontent.com/assets/54999/21442675/67808420-c86d-11e6-89cd-4d4b9139bc81.png">

But it was not hard to create (less than 20 mins) and no one is attached to that particular version.

[2017-01-02 10:12] pgiraud commented on #681
@stufraser1 Is it possible for you to provide the contacts listing using the mnemonic for the hazard types?
Complete list of mnemonics can be found [here](https://github.com/pgiraud/thinkhazard/blob/pgiraud_new_icons/thinkhazard/scripts/initializedb.py#L121-L132). It includes the new hazard types.

[2017-01-04 13:44] stufraser1 commented on #681
revised listing with hazard codes (field = HAZID, in column 5), attached
[hazardCountryList_Organizations_20161229 - uploaded to github.zip](https://github.com/GFDRR/thinkhazard/files/684752/hazardCountryList_Organizations_20161229.-.uploaded.to.github.zip)

[2017-01-04 14:12] stufraser1 commented on #682
Sorry for not being more clear.

The full disclaimer attached should be presented in the modal when landing on TH home page (#702)
[TH_Disclaimer_text_v3.docx](https://github.com/GFDRR/thinkhazard/files/684814/TH_Disclaimer_text_v3.docx)

The About page should contain minimal disclaimer information - It should contain only the licence information (section in attached entitled 'Licence', and if pos

[2017-01-04 14:13] stufraser1 opened #705 "Missing date on pdf report"
THe pdf report states 'The data was published for the last time on .' and appears to be missing the date. This sentence appears at the bottom of the 'About' information, after the reference to GitHub.

[2017-01-04 14:42] stufraser1 commented on #668
@pgiraud Thank you

This looks pretty good, thank you. I think the text could be made smaller, it seems quite large at the moment. Can you make the section titles closer to the current font size of the questions, and reduce the font size of question titles by 1, or bring to equal the font size of question response text (the bold and blue colour may differentiate the title enough)

Regarding the im

[2017-01-05 08:23] pgiraud commented on #681
@stufraser1 the ADM0_CODE is missing in your latest attached file.

[2017-01-05 10:46] pgiraud commented on #705
@stufraser1 should this be fixed on the current version deployed in production?

[2017-01-05 10:51] stufraser1 commented on #705
Ideally yes please

[2017-01-05 12:41] pgiraud commented on #705
The fixed code is deployed on the production server.

[2017-01-05 12:41] #705 closed

[2017-01-05 14:19] pgiraud commented on #668
You are right, I changed the font sizes and it looks much better.
https://github.com/GFDRR/thinkhazard/pull/708

I also integrated your image but I see 2 problems:
 - it doesn't use the new colors,
 - it's blurry even in its original size.

[2017-01-06 12:55] stufraser1 commented on #681
attaching a cleaned and double-checked version.
[hazardCountryList_Organizations_20170106.zip](https://github.com/GFDRR/thinkhazard/files/689924/hazardCountryList_Organizations_20170106.zip)

[2017-01-06 14:00] stufraser1 commented on #668
OK, I'd like to try to update this with a new version of Bolivia map, rather than the countries available in the v2 demo, as it was chosen for the nice map view of the coutnry and variaiton in hazard, which you dont get with, say, Indonesia (which is a smaller in the map window, so less useful in an explanation piece. Please let me know when Bolivia is available in v2, and I'll pull out the new ma

[2017-01-06 14:26] pgiraud commented on #697
Fixed via #694

[2017-01-06 14:26] #697 closed

[2017-01-06 14:36] pgiraud commented on #681
I just finished and merged the code for importing contacts and displaying them in the interface.
The result can be seen here:
http://wb-thinkhazard.dev.sig.cloud.camptocamp.net/v2/report/116-indonesia/FL

[2017-01-10 15:30] pgiraud commented on #675
Fixed via #702.

[2017-01-10 15:30] #675 closed

[2017-01-10 15:35] pgiraud commented on #668
@stufraser1 Bolivia is already available in the v2 demo.
http://wb-thinkhazard.dev.sig.cloud.camptocamp.net/v2/report/33-bolivia/EQ

[2017-01-10 16:06] pgiraud commented on #668
@stufraser1 Instead of creating a big image with Boliva, legend, Oruro and header I decided to creating one image for each and assemble them into the faq layout.
Here's how it looks:
![screenshot from 2017-01-10 17 04 56](https://cloud.githubusercontent.com/assets/319774/21813553/f7b7d3fc-d756-11e6-85b7-7c73f7dd537c.png)

It's in my opinion easier to manage and maintain.

If you agree, I'll merge

[2017-01-11 16:03] stufraser1 commented on #668
@pgiraud Thank you for this solution: I think this would work very well. One thing I would really like to have above or below each map is the label of the areas shaded (i.e. Oruro on left, Bolivia on right). This is important for viewers to relate what the area on the left actually is.

[2017-01-12 09:20] pgiraud commented on #668
http://wb-thinkhazard.dev.sig.cloud.camptocamp.net/v2/ updated with the latest FAQ layout and images.
Closing the current issue for now. Please reopen if you have any additional comments.

[2017-01-12 09:20] #668 closed

[2017-01-13 13:02] pgiraud opened #710 "Add context for translators"
Here's a follow up to an issue reported on transifex. A user asked for more context on a translation string source.
Some strings to translate are really short and don't really mean anything out of context.
Using babel, it's already possible to add some comments along with translations string. They should then show up on the transifex interface.

Here's an example of how to use it:
https://github.c

[2017-01-13 13:03] pgiraud commented on #710
Sorry wrong project.

[2017-01-17 15:54] pgiraud commented on #666
@stufraser1 while working on the translations for v2, I figured out that the names are in English in the database. In my opinion, the names for the division should be in the language chosen by the user.
Do you know if the GAUL dataset also includes names in other languages than English? I don't think so.

[2017-01-17 17:50] stufraser1 commented on #666
I agree names should be translated if possible, and don't think GAUL is available only in English. Can location names be added to the transifex project or not?

[2017-01-18 07:51] fjacon commented on #678
This issue is not simple at all. We definitely need to think it over carefully as it has important impacts on the application. Is this a priority ?

[2017-01-18 08:04] fjacon commented on #689
We have to discuss the design for this feature. For the moment, the best way for a user is to go directly to geonode. The link is actually available from data source below the map.

[2017-01-18 10:24] stufraser1 commented on #678
Yes this is important, as we have had issues with users suggesting we're not representing these areas correctly. Please could you summarise the steps required to do this, and most importantly the implications on the application so I can understand this more?

[2017-01-18 10:25] stufraser1 commented on #666
OK, noted. Are you aware of any country name translations that already exist out there? I'll have a look for some. They must exist, e.g., in places such as Geonames, so I'll check this.

[2017-01-18 10:34] stufraser1 commented on #666
I've found some resources so will work on compiling a list and entering into the .shp

[2017-01-18 12:59] stufraser1 commented on #666
I attach a link to g2015_2014_0_upd180117.shp:
https://1drv.ms/u/s!AscqpZyKStZclI4o4YzCIom9i4F3cw

This contains FRE and ESP translations for ADM0_NAME - fields [FRE] and [ESP]
This replaces g2015_2014_0_upd251116.shp

No amendments have ben made to ADM1 or ADM 2 shp files.

[2017-01-18 16:55] stufraser1 commented on #682
Feedback on disclaimer from GFDRR team -
1. Can we remove the 'x' in top right corner, therefore forcing users to click 'agree'
2. Can we shrink the text so the box fits on a smaller screen without scrolling? This clearly depends on the size of screen, so there will always be a screen that requires scrolling, so if you think there are detrimental impacts to reducing text size from its current size

[2017-01-19 10:50] pgiraud commented on #682
1. It's a good idea. I'll provide a pull request in which I also prevent users from dismissing the modal but typing on the ESC key or clicking on the backdrop (mask around the modal).

2. I can't anything satisfactory by shrinking the text or widening the modal. Even on large screens the modal tends to be need some scroll in most cases.

[2017-01-23 08:46] pgiraud commented on #680
@ingenieroariel Can you please try to connect to https://www.mapbox.com/studio/styles/ and confirm that you are not able to export (or download) the style used for generating the tileset we are currently using on ThinkHazard! ?
It would be really helpful.
Thanks.

[2017-01-23 10:13] pgiraud commented on #666
It looks like I never received any of the `g2015_2014_x_upd251116` shapefiles. Did you really shared them?

In order to integrate the new shapefiles in the application, it would be better if the shapefiles for the 3 levels have the same structure (ie. with the French and Spanish names even if they are similar to English name or left empty).

[2017-01-24 12:37] stufraser1 commented on #666
I've update AMD1 and ADM 2 files to contain the extra columns, and provide them at these links as zipped files. All dated 180117:
ADM0: https://1drv.ms/u/s!AscqpZyKStZclI4o4YzCIom9i4F3cw
ADM1: https://1drv.ms/u/s!AscqpZyKStZclJIvO0n2lwC2F_-KHQ
ADM2: https://1drv.ms/u/s!AscqpZyKStZclJIyEsNoriBW6f6KjA

[2017-01-26 09:02] stufraser1 opened #714 "GeoNode customisation - home page"
@fvanderbiest
As part of GeoNode customisation for this contract, we would like to extend the range of data types (and icons) shown on the homepage, from hazard datasets and 'post-disaster'. We would like a banner to include exposure data - I include a link to some icons we would like to use in this banner.

A banner for each of 'Risk' and 'Vulnerability' should also be added but we need to think

[2017-01-26 10:17] pgiraud commented on #678
As discussed during the monthly meeting:
 1. A mapbox tileset provided and maintained by WB is to be used. It is supposed to show the disputed areas.
 2. Camptocamp to propose a way to add interaction on the map for neighbouring divisions. Showing levels for the neighbouring divisions doesn't seem to be a good idea though because it may tend to a messy information for the end-user.

[2017-01-26 11:05] pgiraud commented on #678
I just created an instance on the demo server to show what the WB tileset look like. We can see the disputed areas.
http://wb-thinkhazard.dev.sig.cloud.camptocamp.net/bglayer/report/115-india

[2017-01-26 11:24] stufraser1 commented on #678
I think this works well to show the boundaries. @vdeparday - your thoughts?

[2017-01-27 08:11] stufraser1 commented on #666
Hi - I've just been made aware that we need to make an update for Kosovo in the above links. I'll post new links this morning with that update. Sorry for any duplication of effort if you already used the above links.

[2017-01-27 13:36] pgiraud commented on #661
Here's the demo of what I did so far: http://wb-thinkhazard.dev.sig.cloud.camptocamp.net/data_map/

It looks like I made the wrong assumption by thinking that the map was supposed to show the data source used to compute the hazard level for each country for a given hazard type.
It only displays the result after the decision tree has done its job. Just like we do in the report page or in the hazard

[2017-01-27 13:49] stufraser1 commented on #661
The map is to show coverage of data available to us, rather than what is used to compute hazard.

The map is supposed to show, in its shaded colour, the highest level of data that we use for that country. So the default is that all countries show the colour for 'global' but for countries covered by SHARE data in Europe, it would show regional. For a countries that we have a national model, it woul

[2017-01-27 13:55] stufraser1 commented on #661
The current version looks good. My comment above is reinforced by looking at the EQ map - a lot appears as local, but this is not really easy for users to understand - so we need that regional / national distinction.

It is also very slow.

[2017-01-27 19:34] stufraser1 commented on #666
I've update AMD1 and ADM 2 files to contain the split of Serbia and Kosovo as required by WB determination of countries and provide them at these links as zipped files. All dated 270117:
ADM0: https://1drv.ms/u/s!AscqpZyKStZclJMUlI6yPMaLTgoKaA
ADM1: https://1drv.ms/u/s!AscqpZyKStZclJMWLq7G2JjfdyY1Iw
ADM2: TBC (still uploading)

[2017-01-30 01:34] ingenieroariel commented on #680
TLDR: I have the tileset but not the style.
<img width="968" alt="screen shot 2017-01-29 at 8 33 21 pm" src="https://cloud.githubusercontent.com/assets/54999/22410156/392b0588-e662-11e6-8ec0-567f3849f6fe.png">

I can confirm it is not possible.

I created the style very early in mapbox vector tile support and through their online UI. Since I did not know the original data or code, chances are they

[2017-01-31 13:24] pgiraud commented on #666
Hi @stufraser1 I have problems importing the data. The ThinkHazard! tool has a unique constraint on the admin code.
 - in ADM0 data, 2 different entities have a "40781" code.
 - in ADM1data, 19 different entities have a "40409" code (some are tiny triangles at the edge of a big one),
 - in ADM1 data, 26 different entities have a "40422" code (idem).

[2017-01-31 14:39] stufraser1 commented on #666
@pgiraud
I have updated to the following files, dated the same as previously provided.
ADM0: https://1drv.ms/u/s!AscqpZyKStZclJMwHkKyqkfe5G2PAw
ADM1: https://1drv.ms/u/s!AscqpZyKStZclJMxqc9psbdatCArTw
ADM2: https://1drv.ms/u/s!AscqpZyKStZclJMYsoSxECTHOl7qyQ

[2017-01-31 15:38] pgiraud commented on #666
I'm still having issues.
It look like the admin division which code is 40781 has been completely removed from ADM0. However some of the divisions in ADM1 have this code as their parent code.

[2017-01-31 15:58] stufraser1 commented on #666
Correct...I neglected to update the ADM0_CODE in ADM1 and 2 Files. Sorry for the wasted effort.
Uploading now to onedrive

[2017-02-01 10:24] pgiraud commented on #666
Unfortunately, there's a duplicate on the code 383.
It's used for Kosovo (level 0) and for Tindouf (level 1) in Algeria.
I can't import the file because uniqueness is not respected. I'm sorry.

[2017-02-01 10:35] stufraser1 commented on #666
So sorry - I created that ADM0_CODE = 383 to distinguish from Serbia, but didnt realise it should be unique with respect to ADM1 and ADM2 also.
Please can you update the ADM0_CODE for Kosovo ADM0 only, to 264899 (this is Serbia ADM0_CODE suffixed with 99. It is unique in ADM0, AMD1, and ADM2 files).
I will do the same on my copy. This should be faster than us uploading and downloading new files ag

[2017-02-01 10:36] pgiraud commented on #666
Ok. Thanks.

[2017-02-01 10:53] pgiraud commented on #666
Dont' forget to also change the ADM0_code in ADM1 and ADM2 for subdivisions of Kosovo.  ;-)

[2017-02-01 10:54] stufraser1 commented on #666
Yes - I have edited the ADM0_CODE in one row in ADM0, five rows in ADM1, and five rows in ADM2.
Thanks.

[2017-02-02 11:53] pgiraud commented on #666
FYI, I also did the following modifications because of conflicts on "code" in ADM2 divisions. Some codes were duplicated so I changed some of them with a not already existing yet close value:
 - "Gnral. Antonio Elizalde" (Ecuador) 15426 -> 15427,
 - "Osisioma Ngwa" (Nigeria) 22602 -> 22603,
 - "Ifelodum" (Nigeria) 22917 -> 22918,
 - "Surulere" (Nigeria) 23037 -> 23036,
 - "Administrative unit not

[2017-02-02 12:00] stufraser1 commented on #666
Thanks. I'm not sure why these would be duplicates, as they are unchanged by me. These must have existed all of the time in the original GAUL data.

[2017-02-02 12:04] pgiraud commented on #666
You're totally right. This was not new but I was simply removing them in a previous version of the application because I didn't know what to do. This time I decided to take a closer look and it looks like a bad code assignment so I fixed it in the shapefiles.

[2017-02-02 15:54] stufraser1 commented on #678
One thing this does not solve, is that when someone searches 'India' it does not include Jammu and Kashmir (disputed) within the country, so complaints it doesn't show the whole country when searching 'India' have not been addressed.
It may not be possible to achieve both inclusion of Jammu and Kashmir in India *and* showing is as disputed territory
I believe that if we change the shapefile so tha

[2017-02-03 10:50] pgiraud commented on #666
This is now fixed in 1.5.2 and master branch. Closing.

[2017-02-03 10:50] #666 closed

[2017-02-06 09:51] pgiraud commented on #678
@stuart Here's the demo enhanced with interaction for the neighbouring divisions. This improves the user experience a lot in my opinion.
http://wb-thinkhazard.dev.sig.cloud.camptocamp.net/bglayer/report/1489-india-delhi

[2017-02-06 12:07] stufraser1 commented on #678
Hi. Yes that's nice. I'm on a tablet and it only works at adm1 level not adm2. I think users would expect it to work the same way on 2 if they've done it on level 1. Had you planned to do it on both levels?

[2017-02-06 12:54] pgiraud commented on #678
It is fixed.
I also made it so the hazard type is kept from one page to the other when clicking on neighbouring division.
If this works for you, I'll create a pull request so that it can be integrated in v2.

[2017-02-06 13:54] stufraser1 commented on #678
This looks great, thank you, please integrate to v2

[2017-02-07 14:42] #678 closed

[2017-02-10 09:11] pgiraud commented on #672
@stufraser1 Can I merge the work done for adding the icons in the UI even if we don't have the parameters to process the new hazard types? We will avoid later conflicts.

[2017-02-10 13:41] stufraser1 commented on #672
For v2 yes absolutely. They should not be added to v1 though

[2017-02-10 15:21] #672 closed

[2017-02-13 13:13] pgiraud commented on #692
@stufraser1 I merged the work on API I initiated several weeks ago.

The documentation for the API is available here:
https://github.com/GFDRR/thinkhazard/blob/master/API.md

A deployed demo is available at http://int.thinkhazard.org

[2017-02-13 13:50] pgiraud commented on #680
@stufraser1 We now use a new base map layer as per #678.
I hoped that in this new layer the river network would be more visible. It's unfortunately not the case.
I suppose that you are still interested to make the river network more visible when showing water related hazard types (River/Urban flood). If so, can you please ask the team responsible for the mapbox tilesets to provide a new set with t

[2017-02-15 11:47] stufraser1 commented on #677
I think this becomes to complicated and onerous for administrators to implement and keep track of. Closing. GFDRR may suggest change to the general recommendation as above, to account for the issue and communicate the necessity to explore regional hazard levels as follows:
I would suggest that we state something like 'In this country, there is at least one area which is subject to <low> hazard, al

[2017-02-15 11:47] #677 closed

[2017-02-15 14:05] pgiraud opened #724 "Update wkhtmltopdf"

[2017-02-15 16:51] stufraser1 commented on #689
Preferred design: Tab or button to enable user to 'swap' fromt he default view of hazard levels on map (as currently used), to a map in the same place with hazard data raster shown overlaid with admin boundaries, using the same map window and extent. Legend below map to show the legend and style from Geonode.

Only one hazard map can be shown on this map. Selection of on RP where several are used

[2017-02-20 14:38] pgiraud commented on #689
@stufraser1
I wanted to share a prototype of what this could look like.
http://wb-thinkhazard.dev.sig.cloud.camptocamp.net/toggle_view/report/18114-indonesia-kalimantan-selatan-kota-baru/FL

![screenshot from 2017-02-20 15 37 32](https://cloud.githubusercontent.com/assets/319774/23129328/8260dee0-f782-11e6-92d6-8ec2767ab2a4.png)
![screenshot from 2017-02-20 15 37 01](https://cloud.githubuserconten

[2017-02-20 16:38] pgiraud commented on #699
@stufraser1 sorry for the long delay on this one. Since there is not too much new recommendations relationships with divisions to create and not too much contacts to add, I would probably advice to create those in the admin interface when we're ready.

[2017-02-22 08:41] pgiraud commented on #724
This doesn't seem to be straight forward.
I get the following error when generating the PDF with wkhtmltopdf v0.12.4
[code]

[2017-02-22 09:01] pgiraud commented on #652
Did my comment from May last year make sense?
For the Kenya we have two different datasets (EQ-UG-IF and EQ-KE-IF) that are taken into account.
Do you have any opinion on what we should do with such a use case?

[2017-02-22 10:04] stufraser1 commented on #699
Noted. I will manually assign in admin UI, climate statements to those units missing statements, based on geographical proximity to locations with climate statements

[2017-02-22 10:04] #699 closed

[2017-02-22 10:07] pgiraud commented on #408
@stufraser1 The best to do is to comply with what has already been done for other documents. This means that a "primary" hazard should be given in the `hazard_type` field and other types in `supplemental_information`.
By doing it this way, the climate change documents should appear in the UI without changing a single line of code.

[2017-02-22 10:11] stufraser1 commented on #652
In this case, the Data Quality ratings are the same, and they are both local. The preference would be to use Kenya only in this case.
I understand why this issue occurs: there is at least one ADM2 unit that is covered by both UGA and KEN datasets. KEN should be used, but for some reason (due to the order in which datasets are searched while processing?) UGA is already assigned and used before KEN

[2017-02-22 10:26] stufraser1 commented on #408
Noted.

[2017-02-22 10:34] stufraser1 commented on #689
This looks good. A few requests:
- Toggle button to read ('show hazard level' / 'show hazard data'). Currently, it looks like a label, which describes what users are seeing on the map (which incorrectly describes hazard levels as 'data source').
- Legend requires the intensity unit and return period of hazard data used, to be shown. Can this be shown to the right of the legend, along with the data

[2017-02-22 10:38] stufraser1 commented on #688
Please remove v2 milestone. The data is not forthcoming, and I now do not expect it to be available in time. Can we retain functionality for later inclusion (we still want to include at some stage). Icon to be removed from UI please.

[2017-02-22 11:15] #655 closed

[2017-02-22 13:39] pgiraud commented on #688
See #732.

[2017-02-22 15:09] stufraser1 commented on #686
Extreme heat hazard data, thresholds and return periods, and rec/CC statements received. Recommendations under review. SF to enter recs/CC statements onto integration server when Pierre advises it is possible to do so.

RPs: 5, 20, and 100 yr
Unit of intensity: Wet Bulb Globe Temperature (WBGT), in degrees C.
To be referenced in Geonode as WBGT_C
Thresholds:
High: 32 deg_C at 5yr
Med: 28 deg_C at

[2017-02-24 14:12] stufraser1 commented on #690
@pgiraud I have made all of the amendments to version 1 technical recommendations (existing hazards) that we need to. Please can you update the source text on transifex so that I can annoucne the project on transifex on Tuesday?
For your information, on Wednesday I will meet with some translators at the World Bank to determine the potential for them to do some of the work via transifex in April, i

[2017-02-24 14:34] stufraser1 opened #733 "Clicked icons have unintended white lines"
Please solve the issue with the placement of some icons in the top bar, where there is a slight white sliver around the icon edge, between the solid colour of the icon, and the coloured circle that appears when an icon is clicked.

Occurs on LS, TS, VA (the other icons don’t have any circles around them when they are clicked), e.g.,
http://int.thinkhazard.org/en/report/116-indonesia/LS
http://int.

[2017-02-24 14:58] stufraser1 commented on #689
Please reduce the space taken up by hazard level legend and move data source link up towards the map. Given that the hazard data legend goes from top to bottom, and we will hopefully have the data source on the right hand side of that, please can we also place the hazard level legened in that vertical arrangement (high at top, down to very low at bottom) in one column.  If the legend and link are

[2017-02-27 09:34] pgiraud commented on #686
Can you confirm that there is no layer for the `extreme_heat` hazard type set in geonode yet?

[2017-02-27 09:55] pgiraud opened #735 "Data map should be translated"
Legend, hazard type dropdown and map popover strings should be translated.
Follow-up for #661.

[2017-02-27 11:01] stufraser1 commented on #686
Confirmed. We'll upload this week

[2017-02-27 14:14] #408 closed

[2017-03-01 08:34] pgiraud commented on #690
@stufraser1 I'll do it this morning.

[2017-03-01 09:02] pgiraud commented on #690
The resources in transifex have been updated.
We now have 250 (previously 324) strings to translate for the database resource.

[2017-03-01 09:03] #724 closed

[2017-03-01 12:11] pgiraud commented on #735
Already taken into account. Closing.

[2017-03-01 12:11] #735 closed

[2017-03-01 13:21] pgiraud commented on #733
Here's a demo in which I intentionally added a padding around the icon.
http://wb-thinkhazard.dev.sig.cloud.camptocamp.net/th_icons/en/report/116-indonesia/LS

This has in my opinion a better look.

[2017-03-01 13:22] pgiraud commented on #733
![screenshot from 2017-03-01 14 22 42](https://cloud.githubusercontent.com/assets/319774/23461512/8b0b48a0-fe8a-11e6-8d17-08a1ca6e889e.png)

[2017-03-01 13:37] stufraser1 commented on #733
These look good, thank you

[2017-03-01 13:37] #733 closed

[2017-03-01 16:15] stufraser1 commented on #652
We identify the region / country that the data applies to in the metadata under 'regions'. Can we use that field to restrict the data that is used. E.g., for Kenya, only data that has regions defined as 'Kenya' or its parent regions ('East Africa', 'Africa' or 'global') could be considered. This might require a lookup between ADM names used in Geonode and GAUL, for a few countries.

[2017-03-02 08:20] pgiraud commented on #652
Good point! Thanks @stufraser1
It looks like we already have the lookup table handy. This was already provided by Javier in order to link documents with administrative divisions. We already have information on how to admin divs relate to regions in the DB.

Note for Camptocamp: what we need to do is to fetch "/api/layers/{id}" and extract the regions from there. Create a new table to link layers t

[2017-03-02 10:10] stufraser1 commented on #686
EH data are uploaded -
hazard set id =EH-GLOBAL-VITO
three layers 5, 20, 100 yr
units of WGBT (degree C), all included in the metadata.

Should be ready to test

[2017-03-02 10:45] pgiraud commented on #652
@stufraser1 Can we expect the regions set in the layers of one dataset to be the same?
In other words can we determine the regions for a dataset by reading the regions of one layer?

[2017-03-02 11:22] stufraser1 commented on #652
Yes - The regions should be identical for each layer in the same hazard set ID.

[2017-03-02 16:47] stufraser1 commented on #687
GFDRR should be able to provide draft hazard data for testing, in week commencing March 13

[2017-03-02 16:50] stufraser1 commented on #685
We are receiving urban flood data this week. We will upload a selection of countries to Geonode in the week March 13th. We hope to have revised thresholds for flood layers around the same time. We will advise of data availability in this issue

[2017-03-03 13:57] #686 closed

[2017-03-08 16:46] stufraser1 commented on #682
To reduce the length of the disclaimer modal window, which requires users to scroll down to 'agree', please could we shorten the text displayed by default under section 'Disclaimer', and have a 'more...' button at the start of the second paragraph 'Information in this screening tool...', which when clicked will reveal the rest of the disclaimer? The 'I agree' button should appear by default on the

[2017-03-08 17:27] stufraser1 commented on #270
This was solved for France by separating overseas territories; US cannot be solved, because of the extent from Alaska to East coast, but Philippines, Malawi and New Zealand still show the countrues as quite small relative to the map window, in online v1 and in integration version v2. Please can you identify whether the bounding box for these countries can be made smaller, based on the extent of th

[2017-03-08 17:44] stufraser1 opened #740 "Homepage size"
On many screens, the GFDRR logo on home page is now only seen if user scrolls down. Can the home page be made responsive to screen size, so that it always appears without having to scroll?

[2017-03-08 17:51] stufraser1 opened #741 "Hazard Data map toggle - change hazard data used"
Exploring whether this is a possibility:
Current situation: One hazard dataset (with highest data quality rating) is used to develop the classified hazard levels. Map window shows classified hazard levels.
Planned v2 changes: One hazard dataset (with highest data quality rating) is used to develop the classified hazard levels. Map window shows classified hazard levels, but there will be a toggle t

[2017-03-13 10:48] fjacon commented on #676
@stufraser1 : have you made a reservation for this domain name ? : 'http://geonode-gfdrrlab.org'

[2017-03-14 08:41] stufraser1 commented on #676
No gfdrr have not done this. Do you require us to make this reservation?

On Mon, 13 Mar 2017, 10:48 Frédéric Jacon, <notifications@github.com> wrote:

--
Stuart Fraser, PhD
Disaster Risk Consultant
www.disaster-risk.uk
Skype: stu_fraser1
+44 (0)7455 048 044

[2017-03-14 09:36] fjacon commented on #676
Yes, please.

[2017-03-16 08:38] fjacon commented on #676
As agreed, Camptocamp will reserve the domain name.

[2017-03-20 09:04] fjacon commented on #676
We have bought http://geonode-gfdrrlab.org/

[2017-03-20 18:06] stufraser1 commented on #676
Thank you very much

On Mon, 20 Mar 2017, 09:04 Frédéric Jacon, <notifications@github.com> wrote:

--
Stuart Fraser, PhD
Disaster Risk Consultant
www.disaster-risk.uk
Skype: stu_fraser1
+44 (0)7455 048 044

[2017-03-27 21:48] stufraser1 opened #742 "Overview map -- popup from homepage"
Possibility of adding a 'hazard level overview map' on homepage:
User clicks hazard icon on homepage, popup shows static map showing hazard level for that hazard at every at admin 0 (or maybe admin 1) level, on a global map. Provides user with an overview of variation in hazard across the world. No navigation or coutnry specific pop-ups required. Legend required, and short comment to say which dat

[2017-03-30 06:10] #710 closed

[2017-03-30 06:15] stufraser1 commented on #690
WB Translators are presently translating with transifex. They have requested that we install Java LIve funtionality to provide them with realtime view (for immediate context) of the strings they are translating. This requires a Java snippet of code to be inserted. Steps as follow:
1. GFDRR will upgrade the Tfex subscription to enable this function on our account (as soon as translators confirm it

[2017-03-30 12:36] fjacon commented on #690
@stufraser1 we wont be able to do this before Monday unfortunately.
Also, I hope it is as simple as it seems.

[2017-03-30 12:45] stufraser1 commented on #690
OK, I will try to get everything aligned by end of this week my side, so you can look at this Monday. I hope its very simple too.

[2017-04-03 06:37] fjacon commented on #676
http://www.geonode-gfdrrlab.org/ is now pointing to new geonode server.

Closing the issue

[2017-04-03 06:37] #676 closed

[2017-04-05 07:25] fjacon opened #743 "Data source legend"
Labels adj. to legend: please remove data quality rows. Include only the RP that is used to show the hazard data

[2017-04-10 07:19] tonio commented on #682
PR #744 has been merged and deployed to http://int.thinkhazard.org/

[2017-04-10 09:27] stufraser1 commented on #682
This is an improvement, thank you. I think we can close this.

[2017-04-10 09:27] #682 closed

[2017-04-11 11:17] fjacon commented on #652
fixed by #739

[2017-04-11 11:17] #652 closed

[2017-04-12 06:39] tonio commented on #689
Following mockup show how we could implement a widget to chose the layer shown as a data source, by selecting the corresponding RP.

The button in the map toggles between hazard level & data source, then you could chose alternative RP to be shown in the map.

![screenshot from 2017-04-10 09-37-03](https://cloud.githubusercontent.com/assets/21686/24944256/a3a4b252-1f5a-11e7-8506-bcb375972b44.png)

[2017-04-12 11:44] stufraser1 commented on #689
Yes I like this.

[2017-04-12 13:34] fvanderbiest commented on #689
Notes for implementation by @tonio...

You should read https://github.com/GFDRR/thinkhazard/blob/master/thinkhazard/models.py first.

The `Output` object is a result of the processing steps, and links a `HazardSet` (a group of 3 layers sharing a common id in geonode) with an `AdministrativeDivision` and a `HazardLevel` (eg: "very high earthquake risk").

For the given `AdministrativeDivision` & `H

[2017-04-21 09:52] fvanderbiest opened #746 "distribution_url deprecated in geonode 2.5 and above"
While harvesting the new geonode version (hosted on http://www.geonode-gfdrrlab.org) from our TH dev server, we noticed an issue related to the `distribution_url` field.

We're currently storing it as a `HazardSet` field during the harvesting step
https://github.com/GFDRR/thinkhazard/blob/master/thinkhazard/models.py#L542-L543

The issue lies in the fact that this field was removed in newer geonod

[2017-04-21 11:40] fvanderbiest opened #747 "Issue while harvesting documents"
While harvesting newer labs geonode, we noticed these kind of errors:
[code]

Issue comes from the fact that, eg in http://www.geonode-gfdrrlab.org/api/documents/792/ we have `supplemental_information` field with value "strong_wind, river_flood, drought, landslide, volcanic_ash,"

We should harden TH so that it does not fail on https://github.com/GFDRR/thinkhazard/blob/master/thinkhazard/processin

[2017-04-21 11:41] stufraser1 commented on #747
Agreed, how best to resolve this?

[2017-04-21 11:42] fvanderbiest commented on #747
Working on a regexp...

[2017-04-21 11:45] fvanderbiest commented on #747
But document 1010 supplemental_information is clearly invalid:
[code]

[2017-04-21 11:51] stufraser1 commented on #747
We can also make our data entry more robust. Once the new list view is complete, we'll be able to check and correct all that are causing problems.

[2017-04-21 12:00] stufraser1 commented on #746
I think its safe. We can look to replicate distribution_url in detail_url when we run the new list view, and create a bulk metadata update.
Will assign to ErikKBethke once he is added today to this repo

[2017-04-21 13:08] fvanderbiest commented on #747
Related PR is https://github.com/GFDRR/thinkhazard/pull/748

[2017-04-21 13:16] fvanderbiest commented on #747
Issue can be closed if you agree.

[2017-04-21 13:19] fvanderbiest opened #749 "SSL/SNIMissingWarning raised by Travis during transifex-pull"
On eg https://travis-ci.org/GFDRR/thinkhazard/builds/224342476
[code]

[2017-04-26 07:25] tonio commented on #689
I put a demo of the feature [here](http://wb-thinkhazard.dev.sig.cloud.camptocamp.net/map_toggle_view/en/report/196-philippines/CF). Preselected RP is the one used to calculate level. Link is done with the corresponding geoserver layer.

[2017-04-26 08:33] stufraser1 commented on #689
This looks great. I would be happy with this, but two small adjustments to text would make it perfect, I think:
1) Toggle Button text to read
'Show hazard class' (in place of 'Show hazard level')
'Show hazard map' or 'Show hazard layer' (in place of 'Show data source')
** TBC - need to consult with GFDRR team

2) Intensity unit for flood shows as 'm' but we need a descriptor - e.g., 'depth m' or '

[2017-04-26 10:28] stufraser1 commented on #671
We could achieve this by producing, offline, a lookup of city names (e.g., from http://simplemaps.com/data/world-cities) versus adm2 unit by GIS spatial analysis.. Input to TH would be a csv of each city names and its corresponding ADM2 unit.

City names should be added into the location search, if user searches city name, they are directed to results of the corresponding ADM2 unit.

[2017-04-26 10:32] stufraser1 commented on #687
Hazard data provided on Geonode.
@fjacon @fvanderbiest  Can I upload the recommendations / climate change statements now? To the int server? We need to have these live to be pushed to transifex for translation.

[2017-04-26 10:33] stufraser1 opened #750 "Add extreme heat recommendations / climate statements"
@fjacon @fvanderbiest  Can I upload the recommendations / climate change statements now? To the int server? We need to have these live as soon as possible to be pushed to transifex for translation.

[2017-04-26 10:35] stufraser1 commented on #749
Translators have achieved 100% of the Spanish translation, less of the French. Is it possible to pull this now to test the appearance of translated text online?

[2017-04-26 13:23] fjacon commented on #750
@stufraser1 can we wait next week for this ?

[2017-04-26 13:46] stufraser1 commented on #750
Yes

[2017-04-27 16:12] stufraser1 commented on #690
It seems we won't ahve access to this Java script, so please disregard this request.

[2017-04-27 16:14] stufraser1 commented on #35
We are creating contract to enable this work, to follow completion of v2 development project. @fjacon Suggest closing this general issue and opening specific issues relating to that project, at the relevant time?

[2017-04-28 06:17] fjacon commented on #35
@stufraser1 agreed

[2017-04-28 06:17] #35 closed

[2017-04-28 13:54] tonio commented on #749
Have some changes been made to the transifex project configuration ?
Looks like the account used by the *pull* task is not authorized to pull anymore.

[2017-04-28 14:02] stufraser1 commented on #749
Could this be because pgiraud was removed from the team membrs?

On Fri, 28 Apr 2017 at 14:54 Antoine Abt <notifications@github.com> wrote:

--
Stuart Fraser, PhD
Disaster Risk Consultant
www.disaster-risk.uk
Skype: stu_fraser1
+44 (0)7455 048 044

[2017-04-28 14:10] tonio commented on #749
No, pulling was not protected & any identified user could access it.
The name of the account used is «c2c», but cannot be set as a maintainer (for now) because login/pwd is public in the code.
I’ll look for a better authentication method.

[2017-05-02 10:50] tonio commented on #743
covered by #689

[2017-05-02 10:50] #743 closed

[2017-05-02 11:01] #747 closed

[2017-05-02 11:08] fvanderbiest commented on #746
So, do we agree on the fact that `detail_url` will be a full URL, including server FQDN, as for the previous `distribution_url` field ?

[2017-05-02 11:11] fvanderbiest commented on #746
Please note that our change will break the API, eg report for a division for a hazard type:

**GET** `/report/{division_code}/{hazard_type}.json` will now output

[code]
rather than
[code]

Are there applications relying on this API ?

[2017-05-02 14:05] stufraser1 commented on #687
Data for wildfire data is to be uploaded to the GeoNode this week, w/c May 1.
Thresholds as follows:
WF:
    hazard_type: wildfire
    return_periods:
      HIG: 2
      MED: 10
      LOW: 30
    thresholds:      * threshold units = 'Fire Line Intensity' in FWI.
      HIG:
        FWI: 30.0
      MED:
        FWI: 20.0
      LOW:
        FWI: 15.0

[2017-05-02 14:30] stufraser1 commented on #746
@fvanderbiest None that I know of use the API yet.

[2017-05-02 14:33] stufraser1 commented on #749
Translators are very keen to see Spanish version of v2 live online (does not have to be an openly viewable version, but should include access to all pages - so they can review in the context of the page. @tonio @fvanderbiest can you estimate when this might be viewable?

[2017-05-02 14:39] fvanderbiest commented on #746
Great, merging #752 then. Thanks !

[2017-05-02 15:03] fvanderbiest commented on #746
Will also require a bulk update of `detail_url` in the geonode db, to have an absolute URL.

[2017-05-02 15:06] fvanderbiest commented on #746
@Vampouille would actually favor updating TH, and I agree.

[2017-05-03 11:15] fvanderbiest commented on #746
Harvesting http://www.geonode-gfdrrlab.org/api/ works fine now.

[2017-05-03 11:15] #746 closed

[2017-05-03 13:37] fvanderbiest opened #754 "processing errors"
On our dev server, `make process` yields
[code]

[2017-05-03 13:45] stufraser1 commented on #754
We had a problem with the projection of the first set of GEM rasters delivered. This error looks to be the same issue. The errors were corrected in new layers; the layers on old geonode were replaced with ones that we then successfully processed in TH v1.

The transfer of data from old to new geonode may have been done before the problematic files were replaced.
Please copy the latest set of data

[2017-05-03 13:45] fvanderbiest commented on #754
I'll try that, thanks !

[2017-05-05 09:38] stufraser1 commented on #687
WF dataset WF-GLOBAL-CSIRO is now uploaded to geonode-gfdrrlabs.
This can be harvested and tested in TH.
@fvanderbiest are you scheduled to run a new harvest process when transfer from old geonode is complete? What is the timeframe for that?

[2017-05-10 15:07] tonio commented on #749
Travis build fixed in #751

[2017-05-11 09:17] tonio commented on #749
@stufraser1 I've just import translations on integration server, see : http://int.thinkhazard.org/es/report/116-indonesia/FL

[2017-05-12 12:07] fvanderbiest opened #755 "Make WMS service base URL configurable"
See https://github.com/kartoza/geonode/issues/204 and https://github.com/GFDRR/thinkhazard/blob/master/thinkhazard/static/js/report.js#L416-L438

[2017-05-16 11:09] stufraser1 commented on #750
@fvanderbiest Please could you advise when this week, this will be ready so I can upload the new statements? Thanks

[2017-05-16 11:16] stufraser1 commented on #749
@tonio Please could you check that the transifex pull was completed for all components -
on integration server the Spanish website doesn't show translated string for About page / FAQs / disclaimer, though these strings have been translated.
We need to make sure all pages are showing the tranlsated text.
(I'm sure I'm looking at these with a clear cache)

[2017-05-16 11:28] fjacon commented on #750
@stufraser1 let's discuss this tomorrow. I am preparing beforehand a document explaining how we can proceed. I will share it this afternoon.

[2017-05-16 13:07] tonio commented on #749
@stufraser1 I just compiled the catalog on integration. Missing translations should be there.

[2017-05-16 19:42] bernhardh commented on #724
Whats your solution for this? Having the same issue on an ubuntu 14.04, but not on windows?

[2017-05-17 09:17] stufraser1 commented on #749
Missing tranlsations are now live.
After the pull though, there are two places I've seen where translations have not been applied:

'No data available' in the list on the country overview page e.g. http://int.thinkhazard.org/es/report/212-samoa (though high, med, low etc have been translated)

In the data map (I expect this is due to this being a standalone json file that is imported. Is this a so

[2017-05-17 13:53] stufraser1 commented on #661
New version of data map, to replace the current version please:
[TH-InteractiveDataMap-Version4.zip](https://github.com/GFDRR/thinkhazard/files/1007941/TH-InteractiveDataMap-Version4.zip)

[2017-05-25 12:10] stufraser1 opened #757 "Error uploading technical recomms (new hazards)"
On int.thinkhazard.org I am unable to save new recommendations to UF or EH or WF.

Error given on pressing save:
_'Internal Server Error
The server encountered an internal error or misconfiguration and was unable to complete your request.
Please contact the server administrator at [no address given] to inform them of the time this error occurred, and the actions you performed just before this erro

[2017-05-25 12:51] stufraser1 commented on #750
Uploading begun, with errors #757

[2017-05-25 12:51] #750 closed

[2017-05-26 07:45] fjacon commented on #757
@tonio will look into this on monday asap.

[2017-05-26 10:38] stufraser1 commented on #691
How is progress on this issue? We need to this to operate for v2.0, as we have data that should be used in thinkhazard, but cannot be accessible for public viewing on geonode.

[2017-05-29 12:56] fjacon commented on #685
@stufraser1 can you give us asap the thresholds for urban flood ?

[2017-05-29 13:11] stufraser1 commented on #685
I added a pull request that includes the values for the preprocessed urban
layer. Range :1-4

On Mon, 29 May 2017, 13:56 Frédéric Jacon, <notifications@github.com> wrote:

--
Stuart Fraser, PhD
Disaster Risk Consultant
www.disaster-risk.uk
Skype: stu_fraser1
+44 (0)7455 048 044

[2017-05-29 13:16] stufraser1 commented on #685
#758

[2017-05-29 14:11] tonio commented on #757
Should be fixed with #759, which is merged & deployed to int.

[2017-05-30 10:59] stufraser1 commented on #757
I have uploaded statements to UF and EH successfully. Closing

[2017-05-30 10:59] #757 closed

[2017-05-30 11:31] stufraser1 commented on #690
climate statements and recommendations for new hazards Urban Flood, Extreme Heat, and Wildfire.
Please can you push these to Transifex as soon as possible

[2017-05-30 11:36] stufraser1 commented on #681
Contacts listing is not seen on int server, and there are none listed in http://int.thinkhazard.org/admin/contacts

Dev server does not show this, either.

We provided a list in this issue - please upload these for v2 launch

[2017-05-30 14:47] tonio commented on #681
I reimported contacts on integration & fix a bug when editing them.

[2017-05-30 15:06] stufraser1 commented on #690
Please hold off until confirmed in meeting on 31 May - I need to add some new strings

[2017-05-30 16:16] stufraser1 commented on #690
New strings added - can be pushed to transifex now

[2017-05-31 08:12] tonio commented on #690
I just push new strings to transifex.

[2017-05-31 14:07] fjacon commented on #681
@tonio the contacts appear in the admin tool but not on the front end. Can you check ?

[2017-05-31 14:11] pgiraud commented on #681
@fjacon are you sure you checked the (admin) preview? Contacts may not appear on the public interface until the data is published.
http://int.thinkhazard.org/admin/preview/en/report/116-indonesia/FL

Sorry couldn't resist.  ;-)

[2017-05-31 14:11] stufraser1 commented on #691
http://int.geonode-gfdrrlab.org/search/?title__icontains=adm2_fu_raster_v2
http://int.geonode-gfdrrlab.org/search/?title__icontains=adm2_uu_raster_v2

Should remain private in Geonode, but used in ThinkHazard

[2017-05-31 14:18] fjacon commented on #681
@pgiraud thanks !!

[2017-06-01 11:19] arnaud-morvan commented on #687
On http://int.thinkhazard.org/ we just run a new harvest of www.geonode-gfdrrlab.org.
We've completly cleared the data cache (raster files, processing outputs).
The calculation of outputs is in progress and can be followed using http://int.thinkhazard.org/admin/hazardsets.

[2017-06-02 09:04] stufraser1 commented on #683
The WB Operations Portal (a WB internal site) directs project planners to thinkhazard.org, for further information. GFDRR to check whether Google Analytics tracks where users come from.

[2017-06-02 14:47] fjacon opened #762 "Map : Show data source does not work on int server"
undefined layer

[2017-06-07 11:17] stufraser1 opened #763 "Contacts Listing - data error"
Each country / hazard combination can have up to three contacts.

It seems that the contact entries effectively separate out contact #1 from the import table, but merges contact #2 and contact # 3.
E.g., http://int.thinkhazard.org/admin/contact/160
refers to Belgium EQ, which has three contacts with email information provided,

http://int.thinkhazard.org/admin/contact/40
refers to five countries w

[2017-06-07 11:21] stufraser1 opened #764 "Contact admin view improvements"
Improvements to contact page are required to view more context for each entry, to aid searching and editing.
TBD, when #763 is resolved, but may include a country / hazard filter to find entries for a particular ThinkHazard entry.

[2017-06-07 11:23] stufraser1 commented on #690
Translation in progress. Pull of translated text to TH should occur end of June.

[2017-06-08 14:54] stufraser1 commented on #680
I've created a Mapbox style for use in TH!
It is on the free account, so only up to 50k views, but I hope to have this duplicated on the WB account before we exceed that.

Please update the basemap on int server as follows
Style:   mapbox://styles/stufraser1/cj3g19csf00062sjso7dfj4ns
Access token:    pk.eyJ1Ijoic3R1ZnJhc2VyMSIsImEiOiJQdnhvZTlnIn0.SEC9tGQDtw9yPQssVyF-8Q

[2017-06-09 10:25] tonio commented on #763
Should be fixed with #765 . I just made another import on integration.

[2017-06-09 12:29] tonio commented on #680
I can't get it to work. Do you have an example page or a more complete url to test ? — url is tied to api version used —.
Thanks in advance.

[2017-06-09 13:08] stufraser1 commented on #680
URL
https://api.mapbox.com/styles/v1/stufraser1/cj3g19csf00062sjso7dfj4ns.html?title=true&access_token=pk.eyJ1Ijoic3R1ZnJhc2VyMSIsImEiOiJQdnhvZTlnIn0.SEC9tGQDtw9yPQssVyF-8Q#8.5/29.710234/31.063081/0

[2017-06-09 13:22] tonio commented on #680
Fixed & deployed to integration.

[2017-06-09 15:46] stufraser1 commented on #763
This looks better, thank you.
However, having solved that, I can now see there were also other errors in the file provided, which were contributing to duplicated entries. Please could you import the attached, updated file?
[hazardCountryList_Organizations_20170609.zip](https://github.com/GFDRR/thinkhazard/files/1064546/hazardCountryList_Organizations_20170609.zip)

[2017-06-12 08:53] tonio commented on #763
Looks like attached file is empty.

[2017-06-14 10:22] stufraser1 commented on #763
very sorry - reattaching
[hazardCountryList_Organizations_20170609.zip](https://github.com/GFDRR/thinkhazard/files/1074282/hazardCountryList_Organizations_20170609.zip)

[2017-06-14 12:32] fjacon commented on #680
@stufraser1 can we close this ticket ?

[2017-06-14 12:33] fjacon commented on #661
@tonio can you update the map ?

[2017-06-14 12:45] fjacon commented on #681
@stufraser1 is OK for you now ?

[2017-06-14 15:58] stufraser1 commented on #680
Confirmed included and visible.
One problem: Admin boundaries (not the one selected) are shown in a think blue line, which is now confused with rivers - e.g., http://int.thinkhazard.org/en/report/18373-italy-piemonte-alessandria.
Possible to change these unselected admin boundaries to a thin black line, for example, for better distinction?
If actioned, can be closed.

[2017-06-15 07:07] fjacon commented on #685
@stufraser1 there is no hazardset for urban flood on geonode :

http://www.geonode-gfdrrlab.org/api/layers/?hazard_type__in=urban_flood

Are you going to upload them later ? Or are we missing something here ?

[2017-06-15 07:54] tonio commented on #763
New contacts imported on integration.

[2017-06-15 10:57] Vampouille commented on #691
Should be fixed by : https://github.com/camptocamp/labs_geonode/pull/2

[2017-06-15 12:06] Vampouille commented on #691
With previous PR, following url will allow login with api keys :

* /api/base
* /api/featured
* /api/layers
* /api/maps
* /api/documents

Api URL **not** affected by API Keys :

* /api/keywords
* /api/thesaurus/keywords
* /api/regions
* /api/categories
* /api/groups
* /api/profiles
* /api/owners

Is it match Thinkhazard requirements ?

[2017-06-15 12:16] fvanderbiest commented on #691
TH harvests the GeoNode **API**:
 * **regions**, fields `id`, `name_en`, `level`
 * **documents**, fields `id`, `title`, `regions`, `hazard_type`, `supplemental_information`
 * **layers**, fields `id`, `title`, `regions`, `hazard_set`, `hazard_type`, `supplemental_information`, `hazard_period`, `hazard_unit`, `srid`, `data_update_date`, `metadata_update_date`, `calculation_method_quality`, `scient

[2017-06-15 12:17] fvanderbiest commented on #691
Is it relevant to contribute upstream ?

[2017-06-15 12:36] fvanderbiest opened #768 "Add support for geonode harvesting with api_key"
See https://github.com/camptocamp/labs_geonode/pull/2

[2017-06-15 12:37] fvanderbiest commented on #691
This requires #768

[2017-06-15 12:44] tonio commented on #661
GeoJSON file updated on integration.

[2017-06-15 14:15] Vampouille commented on #691
Fixed on TH side by : https://github.com/GFDRR/thinkhazard/pull/769

[2017-06-15 14:16] Vampouille commented on #691
yes

[2017-06-15 18:37] #763 closed

[2017-06-15 18:38] #681 closed

[2017-06-15 18:39] stufraser1 commented on #685
There is a dataset. I need to make sure its registered properly

[2017-06-15 18:39] #661 closed

[2017-06-16 08:34] fvanderbiest opened #770 "Need to check geonode harvesting with SSL"
GeoNode integration server was migrated to use SSL => check harvesting still works with https://int.geonode-gfdrrlab.org/api/ before switching geonode production to SSL

[2017-06-19 13:11] tonio commented on #762
Seems to be fixed on integration (preview only) with last harvesting/processing.

[2017-06-20 09:45] fjacon commented on #687
According to the admin UI we are missing a layer for level HIGH.
But I can see it on geonode :
http://www.geonode-gfdrrlab.org/layers/hazard:csiro_wf_max_fwi_rp2
@arnaud-morvan can you investigate this ?

[2017-06-20 09:46] fjacon commented on #685
@stufraser1 have you checked ?

[2017-06-20 10:18] stufraser1 commented on #685
It looks ok on geonode. But the raster is very fine resolution, as for the river flood one so we are working to reduce the resolution and re upload.

[2017-06-20 10:22] stufraser1 commented on #685
Actually I know can't see it on geonode. Suggests it hasn't been published so I'll amend that asap when I can get on my laptop

[2017-06-21 13:30] fjacon commented on #685
Permission was restricted. Now it's OK
see : http://www.geonode-gfdrrlab.org/api/layers/?hazard_type__in=urban_flood

[2017-06-22 16:24] stufraser1 commented on #685
I have resampled the UF global data to a lower resolution and different cell storage type (4bit) so it is much smaller filesize (1/6 of original layer size). I am trying to replace the layer on geonode (it keeps failing with '[object Object]' error), and am also repeating this resampling process for the RF global data. I'll update Friday morning again.

[2017-06-23 09:16] fvanderbiest commented on #770
From http://int.thinkhazard.org/ ?

[2017-06-23 09:21] fvanderbiest commented on #770
From dev:
[code]

[2017-06-23 09:28] fvanderbiest commented on #770
@saimon can you `sudo update-ca-certificates` on `wb-thinkhazard-dev-1.sig.cloud.camptocamp.net` ?
We need support for let'sencrypt certificates for python httplib2 from wheezy. Thanks.

[2017-06-23 09:29] fvanderbiest commented on #770
Oops, sorry @Saimon I meant @saimonn !

[2017-06-23 10:32] saimonn commented on #770
Done, but didn't update any cert, was that the expected result ?
[code]

[2017-06-23 10:46] Vampouille commented on #770
Curl has not SSL issue :
[code]

[2017-06-23 12:44] Vampouille commented on #770
Fixed by https://github.com/GFDRR/thinkhazard/pull/769/commits/b44185866b40a80cf7d9141bf141b38c7105e8c9

[2017-06-23 13:36] stufraser1 commented on #687
How is progress on this? Do you think you can solve this?

[2017-06-23 13:39] stufraser1 commented on #685
@fjacon @fvanderbiest
I have uploaded to geonode four layers:
two UF layers (one 32-bit raster values, one 4-bit, as the latter is much smaller)
two RF layers (as above)

They are distinguished by name and hazard set ID. They have global region, hazard type applied and are published on geonode.
The only thing missing in metadata is intensity value - we entered a pull request to add the correct one

[2017-06-23 14:16] stufraser1 commented on #680
I will solve admin boundaries in a new layer. Satisfied with river overlay though. Closing

[2017-06-23 14:16] #680 closed

[2017-06-23 14:18] stufraser1 commented on #754
@arnaud-morvan @fvanderbiest
is this fixed now? the above layers seem to show as imported to TH at http://int.thinkhazard.org/admin/hazardsets

[2017-06-23 14:19] fjacon commented on #685
@stufraser1 sorry we cannot handle this today. But we will on monday morning.

[2017-06-23 14:19] fjacon commented on #687
Arnaud is coming back next week.
Yes, no doubt it can be solved

[2017-06-28 09:07] Vampouille commented on #770
Tested from TH int to geonode int. It's working with SSL and api key, just somes warning:
[code]
[code]

[2017-06-28 09:08] fvanderbiest commented on #770
These are normal warnings, go ahead.

[2017-06-28 13:32] #762 closed

[2017-06-30 06:53] arnaud-morvan commented on #687
The processing parameters set in https://github.com/GFDRR/thinkhazard/commit/875df52ce1b4ab94bc7b0c796db76bd59484086a for the wildfire hazardtype was not same values as above in this issue. HIG return period was 3, so the layer with return period 2 was not matching for that hazard level. I set parameters to the values above in this issue and I relaunch the process on int server.

[2017-06-30 07:26] arnaud-morvan commented on #687
I also note that the unit is not FWI but kW_m. If the unit is always the same, it not necessary to precise the unit. I will remove the unit intermediate keys and directly set the values on the levels for wildfire.

[2017-06-30 07:58] arnaud-morvan commented on #687
I've just ran the harvesting on int.thinkhazard.org, WF-GLOBAL-CSIRO is now considered complete.
As I made changes on processing settings, all hazardsets have to be processed with the new parameters, this is in progess from now for some hours ...

[2017-07-11 13:26] arnaud-morvan opened #775 "Move the geonode api key to local.ini"
Because stashing and de-stashing the thinkhazard_processing.yaml file invalidate all processing outputs.

[2017-07-21 14:20] pgiraud opened #776 "broken link in french about page"
Pour en savoir plus, veuillez consulter la [clause de non-responsabilité](http://thinkhazard.org/fr/disclaimer).

[2017-07-21 14:37] vdeparday opened #777 "Contact Box has an extra blank bullet"
![image](https://user-images.githubusercontent.com/1036189/28468293-8db924f6-6e00-11e7-8163-90d2d75d10cc.png)

[2017-07-21 14:38] vdeparday opened #778 "Broken legend for private layers in show data source"
![image](https://user-images.githubusercontent.com/1036189/28468352-baf176a8-6e00-11e7-8a7d-05ff8493798c.png)

[2017-07-21 14:40] vdeparday opened #779 "Provide form to request for download for private data and/or alternative link to the best open data one"
![image](https://user-images.githubusercontent.com/1036189/28468430-f33d333a-6e00-11e7-9d87-6f7129201a33.png)

Now it links to a GeoNode identification page.

[2017-07-21 14:42] vdeparday opened #780 "Vietnam not returning any results"
![image](https://user-images.githubusercontent.com/1036189/28468536-43d0c050-6e01-11e7-8114-09ad4f0ebc05.png)

It returns result only as Viet Nam

[2017-07-25 14:59] stufraser1 commented on #776
Both links seem to work for me

[2017-07-26 06:58] pgiraud commented on #776
Here's what I see:

![screenshot from 2017-07-26 08-55-52](https://user-images.githubusercontent.com/319774/28608425-9ff07f82-71e0-11e7-86b2-6a80e708c6b8.png)

[2017-07-26 09:41] stufraser1 commented on #780
@vdeparday Would it be acceptable to update the underlying country name to Viet Nam (Vietnam), which would then return the correct country if 'Vietn' is entered by user. Downside is 1) its a departure from how we present country names; 2) the location breadcrumb shown on every page would show as 'Viet Nam (Vietnam)' too.

@fvanderbiest any other more technical solution than that included so far fo

[2017-07-26 09:41] stufraser1 commented on #714
Moving to github/geonode. Closing

[2017-07-26 09:41] #714 closed

[2017-07-26 09:48] stufraser1 commented on #776
Cleared my cache, viewed in normal and in private window on Firefox, still not replicated.

[2017-07-26 09:51] stufraser1 commented on #776
Sorry, I see what you mean now - fixing.

[2017-07-26 09:58] stufraser1 commented on #776
Fixed in transifex (there was an extra space between the link name and link URL. Will update on next pull of transifex to website. This, to be done when French team have finished their review this month.

[2017-07-26 09:58] #776 closed

[2017-07-26 10:07] stufraser1 commented on #692
@fvanderbiest Please complete the outstanding tracking of API use so we can close off the API issue?
Is there any further work planned on API documentation?

[2017-07-26 10:20] stufraser1 commented on #673
Can this be actioned fairly easily?
One questions is where to place on the page. Thoughts?

[2017-07-26 10:21] stufraser1 commented on #690
Translation completed and seems to be fully on website. Review in progress. I am waiting date for review to be finalised, but at that point, one more pull of translated text will be required

[2017-07-26 10:25] stufraser1 opened #781 "Hazard data - landslide"
@fvanderbiest @tonio

Landslide hazard page still not showing on the public site.
This was removed in June because new data set (LS-GLOBAL-NASA) was incorrectly classified.
LS-GLOBAL-NASA has been disabled (set to not published on GeoNode), please restore landslide page urgently to the public website.

It should now use hazard data as on v1 two global sources: CIESIN / UNISDR

[2017-07-26 10:31] stufraser1 commented on #779
When non-public data is used for hazard classification in TH! (i.e. when view and download are set to 'private'/specific registered users in GeoNode, no legend / data owner is shown, and clicking on 'more details' button takes a user to GeoNode homepage, not a page for the specific data set.

In this use case, we need to provide a message to the user saying something like:
'The data set used to cl

[2017-07-26 11:26] stufraser1 commented on #687
Awaiting update of FWI in metadata options; will update unit in metadata layer. Otherwise, happy with representation of hazard classification in TH, and closing.

[2017-07-26 11:26] #687 closed

[2017-07-26 11:46] stufraser1 opened #782 "Improved display of further information links"
Request to have the top 5 links shown, and a drop-down button to expand the box and display additional links - this will keep the page shorter.

[2017-07-26 12:11] tonio commented on #781
Processing currently fails on the server. Our infrastructure is fixing memory issues, and I'll restart processing as soon as fixed.

[2017-07-27 08:16] tonio commented on #781
Processing is done on production. I enabled lanslide in the admin preview. Can you please take a look and confirm it's ok before publishing it? Thanks.

[2017-07-27 17:46] stufraser1 commented on #781
It seems that the LS-GLOBAL-NASA layer is still active in thinkhazard. Is there a chance it needs to be deleted from thinkhazard dB before a reharvest so it disappears? Alternative is that we set data quality to 1 + 1 to make it not appear for now

[2017-07-31 13:58] fjacon commented on #781
@stufraser1 can you update LS-GLOBAL-NASA metadata so this dataset will not be prefered to CIESIN / UNISDR ?

[2017-08-01 09:53] fvanderbiest opened #783 "http://www.thinkhazard.org/ in bad shape"
Service is flapping since last hour...
![capture du 2017-08-01 11-53-11](https://user-images.githubusercontent.com/265319/28819922-09f23d16-76b0-11e7-8005-849f87396139.png)

[2017-08-01 09:58] stufraser1 commented on #783
I am currently reprocessing and it seems some of the v large global flood data are still on there (we couldnt delete in Geonode UI) so Im going to delete those now and reprocess without them.

[2017-08-01 11:24] stufraser1 commented on #783
I am unable to connect to the geonode server to delete (and still unable to delete them in the geonode UI)
Connecting with sftp@geonode-gfdrrlabs, port 2223, IP 2.25.101.173 and key files that have worked previously.
Please help me to connect, and/or can you delete the following four files:
adm2_fu_raster_v2
adm2_fu_raster_v3
adm2_uu_raster_v2
adm2_uu_raster_v5

[2017-08-01 11:28] stufraser1 commented on #781
updated Data Quality, reprocessed, publishing now

[2017-08-01 11:28] #781 closed

[2017-08-01 13:59] fvanderbiest commented on #783
I cannot delete `hazard:global_reclassify` as told by Frederic.
Trying to understand what happens here.

[2017-08-01 15:19] stufraser1 commented on #778
Possible to have TH read the layer view and download permissions in Geonode?

1 = permission is checked for 'anyone'
0 = permission is unchecked for 'anyone'

Use case and suggested text:
VIEW = 0, DOWNLOAD = 0, then ‘The data set used to classify the hazard in this area is not publicly available to view or download due to licensing restrictions. Please use the User Feedback link above, to request

[2017-08-01 15:22] stufraser1 commented on #688
PLease confirm, full functionality added in database and UI (just awaiting data and accompanying processing thresholds to activate). If so, can close issue to be re-opened when data is received.

[2017-08-01 15:25] stufraser1 commented on #779
Have added a new category of feedback onto existing google form. Message to direct user to this in correct use cases required - see #778
Suggestion for best alternative can be made on ad-hoc basis, difficult to do in uniform manner in UI

[2017-08-01 15:25] #779 closed

[2017-08-01 15:30] stufraser1 commented on #685
Layers successfully used for classification as 4-bit rasters

[2017-08-01 15:30] #685 closed

[2017-08-02 11:50] fvanderbiest opened #784 "Memory error while processing FL-GLOBAL-SSBN-32bit"
[code]

[2017-08-02 12:08] fvanderbiest commented on #783
I restarted the ssh container and I checked your key was imported from github (https://github.com/stufraser1.keys). Can you check again ?

If it still does not work, this probably means the IP changed and/or firewall rules were updated for some reason. Please let us know.

[2017-08-02 12:24] fvanderbiest commented on #781
I deleted it from the admin db, for the record:
[code]

[2017-08-02 12:52] stufraser1 commented on #781
Confirmed LS-GLOBAL-NASA no longer present. I will not work offline on a better method to represent the very small areas of high hazard that unduly influence the classified hazard of large areas.

[2017-08-02 12:56] stufraser1 commented on #784
This data set is to be removed. It was established as too large to process (we have a smaller version of the data that works in TH!). However, we've been unable to delete it in UI, and via sftp as access not working -being dealt with in other issues.
Also to delete (all layers in geonode named 'delete')
https://www.geonode-gfdrrlab.org/layers/hazard:adm2_fu_v3_4bit
https://www.geonode-gfdrrlab.org

[2017-08-02 13:08] stufraser1 commented on #783
Connection still times out, unable to connect. Previously my IP changed and camptocamp set the permission to accept a range of IP addresses.

[2017-08-02 13:38] fvanderbiest commented on #784
I've just deployed a fix to production, which restores the ability to delete & modify layers.

[2017-08-02 13:50] stufraser1 commented on #784
Confirmed deleting via UI works now. Closing

[2017-08-02 13:50] #784 closed

[2017-08-02 14:20] fvanderbiest commented on #783
@saimonn can you take a look at this connection issue (server IP is 54.229.171.111) ? Seems out of my scope. Thanks.

[2017-08-02 14:57] stufraser1 opened #785 "Data map wrong for three hazards"
The data map shows national level data globally, for the following hazards:
Volcanic (global data only)
Water scarcity (global data only)
Air pollution (no data included in shp)

I've checked the geojson file and display of the map direct from the geojson - there are no problems.

I think the problem is a mismarch in the app.hazardTypes being used by thinkhazard and those used in the geojson. See

[2017-08-02 15:42] stufraser1 commented on #785
New geojson, including update hazard types codes (VA and DG, rather than VO and DR) and new columns that should show for Air Pollution as No Data in every country
[Uploading World_Data_Holdings_v5.zip…]()

[2017-08-03 08:27] tonio commented on #785
@stufraser1 file upload failed. Could be you please reattach the file?

[2017-08-03 08:30] stufraser1 commented on #785
[World_Data_Holdings_v5.zip](https://github.com/GFDRR/thinkhazard/files/1196514/World_Data_Holdings_v5.zip)

[2017-08-03 09:02] tonio commented on #778
Quickfix deployed to production.
![screenshot from 2017-08-03 11-02-29](https://user-images.githubusercontent.com/21686/28914233-44f97028-783b-11e7-9caa-80e81f74abf2.png)

[2017-08-03 09:37] stufraser1 commented on #778
Great, thank you. I am currently working out how to view this effectively on my computer (having already cleared the cache) but tested it with a colleague and all seems to work well.

[2017-08-03 09:37] #778 closed

[2017-08-03 09:40] stufraser1 commented on #783
I can access the server now, thank you. Not closing in case original issue is still a problem ('service flapping')

[2017-08-03 11:27] tonio commented on #785
Updated on production.

[2017-08-03 12:35] #785 closed

[2017-08-04 08:12] fjacon commented on #692
@stufraser1 we agreed that logging can be done under support part of contract (see https://docs.google.com/document/d/1CkcyTsuRph-3YfUk9Ye_YNegbLOsK28U002FQHxZGcc/edit# )
I think we should create another issue and maybe not keep it for milestones V2.

[2017-08-04 08:18] stufraser1 commented on #692
OK, whatever works best for you. Closing

[2017-08-04 08:18] #692 closed

[2017-08-04 08:18] stufraser1 opened #787 "Log usage of API"
Please add functions to track the usage of TH! API

[2017-08-04 08:19] fjacon commented on #691
I think we can close the issue unless I am missing something here.

[2017-08-04 08:27] fjacon commented on #689
Point 2 has been fixed a while ago.

[2017-08-04 10:57] stufraser1 commented on #764
More context: Currently the page lists each contact by name.
Filter required (by ADM 0 and hazard) to see which organizations are listed for that combination and to then edit / delete the organization as already provided.
Display of email, telephone and URL required to see whether they are complete or empty (could even just be a tick or cross for whether there is data in each field)

[2017-08-04 11:18] stufraser1 commented on #689
1. not necessary at this stage. Closing

[2017-08-04 11:18] #689 closed

[2017-08-04 12:12] #783 closed

[2017-08-10 14:30] stufraser1 opened #788 "Must be able to display disputed borders"
We need to be able to show disputed borders on the map,
Jammu and Kashmir area is key example:
See dashed lines in the below World Bank map. We have a field, DISP_AREA, in the attributes of the files g2015_2014_0_upd270117 / g2015_2014_1_upd270117 / g2015_2014_2_upd270117
These should be displayed as dashed borders, as we are getting complaints that J&K is not shown as part of India. In our border

[2017-08-14 13:31] fjacon commented on #788
@tonio will look into this next week.
Note that so far disputed aera are on the maps : they do not belong to any country. and in fact there is a problem because it says "Administrative unit not available " in the title. See below for an area inside Jammu and Kashmir.
![th](https://user-images.githubusercontent.com/1583203/29273719-9f33919a-8105-11e7-91f6-44ba5d1066b6.png)

[2017-08-15 08:10] stufraser1 commented on #788
I will provide links by email to an updated ADM boundary layer, that attribute the northern Jammu&Kashmir ADM0 area to Pakistan -- I changed the ADM0 name -- and the southern area to India (there are two areas called Jammu&Kashmir in the version used currently). The new files are date labelled 020217.

[2017-08-15 08:35] stufraser1 commented on #788
If we adjust only the ADM0 code in the underlying boundary files, to match India (southern J&K) and Pakistan (northern J&K) would that enable J&K to be assigned hazard levels and also show India+J&K together on the map, or does the process also rely on the ADM unit name?

[2017-08-15 21:51] fjacon commented on #788
I cannot answer this. We will have to wait for Antoine and François to return next week.

[2017-08-16 14:04] stufraser1 opened #789 "How is raster cell read to produce ADM2 hazard level"
Hi
I have a question which will influence how I process new global tsunami data. We have a series of point values at the coast, rasterized, and ideally want to leave the processing for TH! backend. In some ADM2 units, the raster cells are not contained entirely within the polygon so I'd like to know whether we need to preprocess that layer, or relocate the raster values to the ADM2 centroid to mak

[2017-08-21 14:13] fjacon commented on #789
We rasterize the adm2 polygon to use it as a mask on the hazardset raster, and we take in account all touching pixels.
https://github.com/GFDRR/thinkhazard/blob/e050ce23fa31b065bac029de12155ffbae8c55ac/thinkhazard/processing/processing.py#L278
This is option 2 in your question, if any part of the cell intersects with a polygon.

[2017-08-21 14:29] fjacon commented on #788
There might be no matching regions between administrative divisions and Hazard set.
For example this hazard set : EQ-PAK-KIT-475 is declared with regions = pakistan
But I guess northern Jammu&Kashmir is not in this region. Then the processing will not take this into account.
This is a guess... to be confirmed

[2017-08-22 13:44] fjacon commented on #770
@fvanderbiest @Vampouille : should we close this issue ?

[2017-08-22 13:45] fjacon commented on #768
this PR has been merged
https://github.com/camptocamp/labs_geonode/pull/2
So should we close this @fvanderbiest ?

[2017-08-22 13:48] fjacon commented on #749
@stufraser1 I think everything looks fine now.

Should we close this issue ?

[2017-08-22 13:49] fjacon commented on #691
@fvanderbiest ? can we close ?

[2017-08-22 13:50] fjacon commented on #688
@stufraser1 yes, everything is ready.

[2017-08-22 16:03] stufraser1 commented on #749
In the data map, labels (global, regional, national), title, and dropdown of hazards are still in English, on the FR and ES sites.
ref issues #661 and #735
Is this due to this pop-up being driven by a standalone json file that is imported? Though it seems the labels exist and have been translated in transifex.

[2017-08-22 16:05] #688 closed

[2017-08-22 16:05] #789 closed

[2017-08-24 07:45] fjacon commented on #749
I think you have to clear your cache because i get a correct French map as fat as I can see
![capture du 2017-08-24 09-40-08](https://user-images.githubusercontent.com/1583203/29655298-e846b9d6-88b0-11e7-934c-22d8852b1eb8.png)

[2017-08-25 07:29] stufraser1 commented on #749
When I clear the cache I can see the French map, but then when I then go onto the Spanish map, or English map, the map shows in French. We can't expect users to clear the cache so frequently, so that map shows the correct language in each case. Is there something you can do about this? Thanks

[2017-08-25 07:52] fjacon commented on #749
@tonio will fix that beginning of next week.

[2017-08-25 14:27] stufraser1 opened #790 "Changing layer Title in Geonode"
Will changing the layer title in Geonode have negative upstream effects in TH code?
I.e., changing EQ-BANG-KIT-475 to Earthquake Bangladesh KIT-475

Thank you

[2017-08-25 16:12] stufraser1 opened #791 "download PDF not working"
the download PDF is timing out after running for several minutes.
No error message, except from FireFox
![image](https://user-images.githubusercontent.com/12515042/29722429-9f084c5e-89b8-11e7-96b0-e1aaeb88d561.png)

pages tested:
http://thinkhazard.org/en/report/226-somalia
http://thinkhazard.org/en/report/175-nepal

[2017-08-28 07:36] #691 closed

[2017-08-28 07:37] fvanderbiest commented on #768
Done with https://github.com/GFDRR/thinkhazard/pull/769

[2017-08-28 07:37] #768 closed

[2017-08-28 07:52] fjacon commented on #791
We will look into this in priority today.

[2017-08-28 12:00] fvanderbiest commented on #790
Not to my knowledge.

[2017-08-29 07:34] #770 closed

[2017-08-29 09:57] #790 closed

[2017-08-30 12:11] arnaud-morvan commented on #790
In thinkhazard, geonode layers are identified by layer "id" (field "geonode_id" on thinkhazard side, which is the primary key).
https://github.com/GFDRR/thinkhazard/blob/master/thinkhazard/processing/harvesting.py#L529

The layer name should be used only for display in thinkhazard.

[2017-08-31 10:58] stufraser1 commented on #791
Hi @tonio - any idea if this will be fixed today? Many thanks!

[2017-08-31 11:07] stufraser1 commented on #690
Review of translation on transifex has now been completed. Please can you pull the latest version of transifex text to ThinkHazard!
Many thanks

[2017-08-31 11:14] fjacon commented on #791
It is working on the dev server : http://wb-thinkhazard.dev.sig.cloud.camptocamp.net/v2/
Should be OK today on prod

[2017-08-31 13:21] tonio commented on #791
It's now fixed & deployed to production.

[2017-08-31 13:30] stufraser1 commented on #791
thanks, tested and it works for me, closing

[2017-08-31 13:30] #791 closed

[2017-09-01 06:57] tonio commented on #690
I did it yesterday when updating production server. Should be good.

[2017-09-01 07:31] #690 closed

[2017-09-04 12:13] tonio commented on #777
I fix some bad data in the admin DB. Please check in the preview & publish if OK.

[2017-09-07 13:13] fjacon commented on #777
@stufraser1  It looks like you did not publish, did you ?

[2017-09-07 13:18] stufraser1 commented on #777
I'm trying to make download, before I publish (we made a change to nepal data and have new tsunami global data to harvest - but it just failed on make download at the global EH VITO layer. This has uploaded and processed before though. I'll try again

[2017-09-07 14:22] stufraser1 opened #793 "GTM Global Tsunami Hazard layer - adjustment on DB required"
Hi
I uploaded the layers GTM Global Tsunami Hazard (=hazardset ID) and one layer (100y RP) had an extra space at the end of the hazardset ID, resulting in error message no layer for HIG and no layer for LOW in 'make complete'.
I corrected this now on geonode, so hazardset ID all match exactly, but it still conducts make complete on the old version, and I get the same error message no layer for HIG

[2017-09-07 14:32] fjacon commented on #793
@stufraser1 we'll look into that asap

[2017-09-11 11:16] fjacon opened #795 "Error 500 on Admin / "Hazard sets / Admin div""

[2017-09-11 13:11] fvanderbiest commented on #793
The API (https://www.geonode-gfdrrlab.org/api/layers/) indeed exports 7 layers with 3 with RP matching those defined in https://github.com/GFDRR/thinkhazard/blob/e8957a3c94dc542049743bb285916eae3574e988/thinkhazard_processing.yaml#L84-L92

All of them share the same hazard_set: "GTM Global Tsunami Hazard"

[code]

TH should work fine in such circumstances.
I'm taking a look at the issue now.

[2017-09-11 14:32] fvanderbiest commented on #793
OK, I updated the DB, ran the full make story, and this seems to work:
[code]

[2017-09-11 14:36] fvanderbiest commented on #793
`make process` is still running in a screen, `make decisiontree` to be done...

[2017-09-12 08:44] fvanderbiest commented on #793
All done in production:
[code]

[2017-09-15 12:16] tonio commented on #673
Proposition mockup:

_Home page (footer unfocused)_

![screenshot from 2017-09-15 14-04-59](https://user-images.githubusercontent.com/21686/30481584-bf7f468c-9a1f-11e7-866e-e9490b7bf037.png)

_Home page (footer focused)_

![screenshot from 2017-09-15 14-05-10](https://user-images.githubusercontent.com/21686/30481585-bf85aac2-9a1f-11e7-8532-ca5729cbb6a5.png)

_Report page (links unfocused)_

![scre

[2017-09-18 06:05] fjacon commented on #673
@stufraser1 waiting for your feedback here, thanks !

[2017-09-18 06:42] fjacon commented on #782
@stufraser1 do you want us to go ahead with this ? we can do it this week.

[2017-09-18 06:43] fjacon commented on #683
@stufraser1 do you want us to go ahead with this ?

[2017-09-19 07:22] stufraser1 commented on #683
Yes please, it would be very helpful to understand how people are using these features, and at the moment I don't think we get that from Google analytics

[2017-09-19 07:24] stufraser1 commented on #782
Yes please

[2017-09-19 07:32] stufraser1 commented on #673
I think we should use only the twitter/FB icons, not the text too. Will save space and I think everyone knows what they mean. Other issue is branding and the icons appear too close to gfdrr logo.
On the home page can we put in header to the right of the language toggle? And on all hazard overview/information pages can it go to the right of the feedback request box at the bottom of screen? Ideally

[2017-09-19 08:44] stufraser1 opened #796 "Commits not showing on about page"
I made two commits on master branch, re logos on about page. The updated page is not visible (with cache cleared).
https://github.com/GFDRR/thinkhazard/commit/e8957a3c94dc542049743bb285916eae3574e988
https://github.com/GFDRR/thinkhazard/commit/3cea4152f326634ed86bd52f943971309fd190ec

Could you advise and merge if required?
@fjacon @fvanderbiest

[2017-09-19 08:55] fjacon commented on #796
@tonio can you check this ? thanks.

[2017-09-19 09:44] tonio commented on #796
`master` has just been deployed on production

[2017-09-19 09:44] tonio commented on #795
Fixed with f840082beb515bf961922fbdcb0c130d8d1a7d67

[2017-09-19 09:44] #795 closed

[2017-09-19 10:32] stufraser1 commented on #796
Thanks

[2017-09-19 10:32] #796 closed

[2017-09-19 11:33] stufraser1 commented on #793
Looks to have uploaded correctly now. Thank you.

[2017-09-19 11:56] tonio commented on #550
Ordering & text filtering deployed in production.

[2017-09-19 12:04] stufraser1 commented on #550
Thats helpful, thank you. Happy with this. closing

[2017-09-19 12:04] #550 closed

[2017-09-22 11:50] tonio commented on #673
The problem with icon only is that you don't know if you're going on TH!'s facebook(or twitter) page or if it is a sharing link…
I'll try with your location proposition.

[2017-09-22 11:59] stufraser1 commented on #673
True - can you use something short, like 'Share: <icon><icon>'?

[2017-09-27 15:31] vdeparday commented on #777
This is still an issue at least in Sierra Leone, and Viet Nam

[2017-09-27 15:49] vdeparday opened #799 "Water Scarcity Legend and Style"
![image](https://user-images.githubusercontent.com/1036189/30923418-caaccdb4-a379-11e7-8f5c-322b5de8d4c1.png)

[2017-09-28 07:33] tonio commented on #673
I just deploy a branch on integration for testing.

[2017-09-28 07:41] tonio commented on #669
Deployed to production

[2017-09-28 08:42] stufraser1 commented on #669
Thanks for deploying. I've just looked at the (all hazards) export and it seems the ADM2code corresponds to a different ADM2name in the adminUI, and in the export file.
The problem only seems to occur for the all-hazard export: When exporting for a single hazard, the ADM2code corresponds correctly to the same ADM2name in the adminUI and the file (tested for four hazards)

Is it easy and possible t

[2017-09-28 08:45] stufraser1 commented on #673
Looks good, seems to work well. Happy with this.

[2017-09-28 09:39] tonio commented on #782
Can be tested on integration.

[2017-09-28 09:50] stufraser1 commented on #782
Looks great, happy with this

[2017-09-28 15:05] stufraser1 opened #802 "add UR logo somewhere on site"
We should add the Understand Risk community logo somewhere

[2017-09-28 15:07] stufraser1 opened #803 "add links to other gfdrr tools"
geosafe, geonode, openriskdata.org, + catrisktools.oasishub.co

[2017-09-28 15:08] stufraser1 opened #804 "Google searches"
Is Thinkhazard! searchable on google, with required SEO keywords etc?

[2017-10-02 06:56] tonio commented on #777
It's ok in admin preview. Needs to be published  to fix it.

[2017-10-02 13:53] tonio commented on #669
Concerning ADM2, looks like the only difference was the ordering, I'm fixing it.

For ADM1 & ADM0, can easily be added for single hazard  export (client-side, we have the data). For complete, we have big performance troubles when trying to have them.

Do you want to have ADM1/0 for single hazard type, or have a consistent columns for both?

[2017-10-02 14:51] stufraser1 commented on #669
Just for single hazard then please

On Mon, 2 Oct 2017, 14:53 Antoine Abt, <notifications@github.com> wrote:

--
Stuart Fraser, PhD
Disaster Risk Consultant
www.disaster-risk.uk
Skype: stu_fraser1
+44 (0)7455 048 044

[2017-10-03 10:56] stufraser1 commented on #777
Finalising tsunami data before publishing. Will be done this week.

On Mon, 2 Oct 2017, 07:56 Antoine Abt, <notifications@github.com> wrote:

--
Stuart Fraser, PhD
Disaster Risk Consultant
www.disaster-risk.uk
Skype: stu_fraser1
+44 (0)7455 048 044

[2017-10-04 09:17] #777 closed

[2017-10-04 11:50] stufraser1 commented on #803
added link to FAQs - to geosafe, catrisktools, Open Data for Resilience Index, and Oasishub. Committed to master

[2017-10-04 11:50] #803 closed

[2017-10-04 12:11] stufraser1 commented on #793
@fvanderbiest
I just tried harvest, download, and make complete as we have re-uploaded the GTM GLobal Tsunami layers.
Make complete returns the following:
'INFO     Completing hazardset GTM Global Tsunami Hazard
WARNING  Hazardset GTM Global Tsunami Hazard  incomplete: No layer for level LOW
'
There is a valid 2500y return period layer downloaded, so I'm not sure if the earlier problem has reappea

[2017-10-04 12:13] fjacon commented on #793
@stufraser1 I am afraid we cannot look into this before Monday. I hope it is not a major problem for you.

[2017-10-04 12:25] stufraser1 commented on #793
I'm publishing data now to get the rest of data/features up to date. We need to get this tsunami data online as soon as possible, and also fix the translation issue ( #794 -- we've entered translated text but I question whether it is required) so that the responsive layout can be shared and publicised.

[2017-10-04 13:30] ErikKBethke commented on #799
@stufraser1 Curious what the resolution for this issue was?

I am still seeing some issues with the styling for these layers.

[2017-10-05 09:08] tonio commented on #669
Fixed on integration, will be on production when deploying responsive.

[2017-10-05 15:58] stufraser1 commented on #802
added to About page

[2017-10-05 15:58] #802 closed

[2017-10-05 16:25] stufraser1 opened #805 "Restricted data source text - display bug and text improvement"
1. Possible to add the data source to the text?
E.G.: 'The <firm name> data used to classify the hazard in this area is not publicly available to view or download due to licensing restrictions.' Can we use metadata field 'data owner', to add in the firm name?

2. Bug in whether it shows or not: sometimes shows data, other times in same area (zoomed in) shows restricted msg.
E.g. Hazard data displa

[2017-10-05 16:33] stufraser1 opened #806 "Unit tests possible / required on data push?"
For quick admin check on data going in - dataset overview (additional to that already implemented in make process)
- Countries covered by a dataset
- Whether data restricted msg shows

[2017-10-05 16:34] stufraser1 opened #807 "Extend RF/UF analysis to local data"
SSBN area weighted process to be replicated for local datasets

[2017-10-05 16:35] stufraser1 opened #808 "Automate data map"
Automate process to update data map via geojson, on data harvest

[2017-10-05 16:41] stufraser1 opened #809 "Improve climate change statements"
Link with WB CCKP - pull via API to TH

[2017-10-10 16:10] stufraser1 commented on #793
@fjacon - any progress on this yesterday / today? Thanks

[2017-10-11 07:46] arnaud-morvan commented on #793
Hello, I've just run harvest, download and complete on production server, GTM Global Tsunami Hazard seems complete. I do not know exactly why but the processing output table have been cleaned, so complete processing is running now ...

[2017-10-11 11:32] stufraser1 opened #810 "Modal windows not operating properly"
When I click on modals - ABout, Data Map, FAQs, the correct one does not open.
At first, the disclaimer repeatedly opens, then after clicking several times, data map might open, but then clicking on about/faq the data map keeps opening.
It did this on int and prod.

[2017-10-11 11:38] fjacon commented on #810
@tonio can you look into this ?

[2017-10-11 12:19] #673 closed

[2017-10-11 12:22] #669 closed

[2017-10-11 12:23] stufraser1 commented on #749
@fjacon @tonion
Can we close?

[2017-10-11 12:41] fjacon commented on #793
@arnaud-morvan is processing over ?

[2017-10-11 12:43] fjacon commented on #793
We should have Tsunami data in Chile on preview if everything is OK.

[2017-10-11 12:44] stufraser1 commented on #793
Previous data had extent longitude [0, 360]
New data (now on geonode) should have extent [-180,180]

[2017-10-11 12:50] stufraser1 commented on #804
@fjacon, @tonio please advise - what has been done already - can we make improvements on the current optimization?

[2017-10-11 14:47] arnaud-morvan commented on #793
I've relaunch process on GTM Global Tsunami Hazard, relaunch decision_tree and now, we get data for tsunamy in Chili.

[2017-10-11 16:24] stufraser1 commented on #793
Great, it looks good to publish. Looking in the production server admin preview, it also looks like the square brackets issue (#794, @tonio) might be resolved - not sure until it is published though.
@arnaud-morvan Can I (or you) go ahead and make publish?

[2017-10-12 08:21] arnaud-morvan commented on #793
Yes, for me it seems good to publish

[2017-10-12 09:16] stufraser1 commented on #793
Thank you. Published. Closing.

[2017-10-12 09:16] #793 closed

[2017-10-12 10:45] stufraser1 commented on #749
Might be related to #810?

[2017-10-12 10:47] stufraser1 commented on #780
@tonio Are there any suggested improvement available for this yet?  thanks

[2017-10-12 14:20] stufraser1 opened #811 "CY-*-KIT data complete but not processed"
Prod server shows these as complete but not processed - Can you tell from processing logs why this is?

[2017-10-12 14:24] #754 closed

[2017-10-13 08:58] tonio commented on #810
Well, looks like some of your recent commits (https://github.com/GFDRR/thinkhazard/commit/681a956d6bc2b5a31db30bc0bb9b74f8a60cecac, https://github.com/GFDRR/thinkhazard/commit/54630251930a4dab8702f1a7fd7ee0656b682e9e) breaks translations & formatting.

[Here's](https://github.com/GFDRR/thinkhazard/compare/fix_popups) what I had to do in dev to repair *faq* & *about* services and make modal works (

[2017-10-13 09:27] tonio commented on #804
The most important missings are **real** links (rather than map links, which google won't take into account).

 - On report page, sub-administrative division & neighbors links are clearly missing. (& more, it would help accessibility).

 - In addition, the home has very few link because all goes through the search. We should this highly ranked space to have links to some report page (Most common?

[2017-10-13 09:44] stufraser1 commented on #810
OK, noted, thank you. Sorry about that, I'll be more careful...

[2017-10-13 09:53] stufraser1 commented on #804
OK, let me know what I can do to help - do you want me to identify top 10(?) countries of most interest, for which we would like Thinkhazard to show high in Google page?

[2017-10-13 12:03] stufraser1 commented on #811
This is because the layers are uploaded with web mercator projection, which is not read well by TH. Resolving by uploading version of these data with WG84 projection. Closing

[2017-10-13 12:03] #811 closed

[2017-10-13 12:45] tonio commented on #749
Should be fixed with #812 , deployed on int.

[2017-10-13 20:59] stufraser1 opened #813 "make publish failed - out of memory"
Hi @fjacon
Make publish (with new CY and EQ data failed today, with message:
Backup thinkhazard_admin to /srv/archives/backups/thinkhazard.2017-10-13T20:53:27.671219.backup
pg_dump: Dumping the contents of table "administrativedivision" failed: PQgetResult() failed.
pg_dump: Error message from server: ERROR:  out of memory
DETAIL:  Failed on request of size 134217728.

Please can you resolve with

[2017-10-16 07:03] tonio commented on #813
I just fix memory issue & do the "make publish" to restore production. Will investigate into the cause of this.

[2017-10-16 07:40] tonio commented on #810
@stufraser1 You may start with [my branch](https://github.com/GFDRR/thinkhazard/compare/fix_popups) & fix translations in the way you want, so that we can have it in master, push to transifex.

Or do you want me to merge as is, & have untranslated (& some missing) strings in the meantime?

[2017-10-16 16:29] stufraser1 commented on #813
Thank you very much. Leaving open for investigation, please close if you consider it should be.

[2017-10-17 08:29] tonio commented on #813
There are memory errors because of never ending printing threads. They are cause by translations error from #810 . I'd be in favour of merging my hotfix and let you fix translations after. Are you OK with that?

[2017-10-17 09:03] stufraser1 commented on #813
Yes, that's great. thanks and sorry for the unintended errors - having updated FAQs and About previously, I did not anticipate any problems.

[2017-10-17 09:04] #810 closed

[2017-10-18 14:40] stufraser1 opened #816 "explore spatial join on geonames Db"
Related to operations portal -
Provide spatial join on WB admin boundaries, and geonames Db

[2017-10-18 14:43] stufraser1 opened #817 "Contacts to be included in API"
Please can we include contact listing in: GET /report/{division_code}/{hazard_type}.json

[2017-10-18 14:53] stufraser1 opened #818 "WB boundaries db - to incorporate"
WB sending us vector files - need to explore inclusion (replacement?) of GAUL location DB

[2017-10-18 15:25] stufraser1 commented on #817
@fjacon  is this something that could be included relatively quickly (next couple of weeks?)
We're updating the internal project portal with new hazards and the team doing that would ideally be able to access contact listing via the same API request. Thank you

[2017-10-19 06:50] fjacon commented on #817
@stufraser1 : @tonio will look into this next week.

[2017-10-23 11:49] tonio commented on #817
I may miss something but looks like it's the case already ?

http://thinkhazard.org/report/85/UF.json

![screenshot from 2017-10-23 13-47-56](https://user-images.githubusercontent.com/21686/31887481-1b282e3c-b7e8-11e7-97d8-464e5500db3c.png)

[2017-10-24 08:19] stufraser1 commented on #817
So they are - in which case, please can you update the
API notes under 'GET /report/{division_code}/{hazard_type}.json' to say contacts are included?
I.e. "Returns the report for a division and a hazard type. Information includes: Data source, Hazard category and description, Recommendations and climate change statement, List of further resources, and Contact Information."
That would be great, tha

[2017-10-24 09:07] stufraser1 commented on #816
Suggestion may be to use geonames Db as search functions, Each geoname matches on many-to-one spatial join, to a (WB adjusted) GAUL region for processing.

[2017-10-24 14:38] tonio commented on #817
Docs updated.

[2017-10-24 14:48] #817 closed

[2017-12-07 08:06] stufraser1 opened #820 "Link to methodology on hazard page"
Add a link to methodology on hazards page - technical users highlighting that method is not clear enough. @vdeparday also considered a pointer to highlight the definintion of a hazard - e.g. water scarcity representing water availability per capita per year

[2017-12-08 11:13] stufraser1 commented on #818
Three things:
- resolve disputed territory issues 1: (show disputed as dashed in the right place according to WB layer)
- resolve disputed territory issues 2: Ensure J&K appear as disputed but as part of Inaida/Pakistan, not separate ADM0
- Ensure that by including WB boundaries, we can still show overseas territories separately (cannot show effectively in mapping window if all considered as one A

[2017-12-15 15:40] stufraser1 opened #821 "Option to consider hazard on geonode other than TH Geonode"
Would be useful to have option to classify data layers hosted multiple geonodes - avoiding copy paste of data layers to labs (TH) geonode

See
https://github.com/GFDRR/geonode/issues/47

[2017-12-15 16:10] stufraser1 opened #822 "Update hazard data window - layer name"
Where hazard set name is shown, use layer title instead.
@ErikKBethke testing potential name lengths

Camptocamp:
On basis of above, to advise possible solutions to displaythe lengths we have
Where descriptor is 'hazard set' on screen, use 'Displayed data'

[2017-12-15 16:39] #813 closed

[2017-12-15 16:42] #799 closed

[2017-12-15 16:45] ErikKBethke commented on #808
See https://github.com/GFDRR/geonode/issues/31

[2017-12-15 16:51] vdeparday commented on #821
@fjacon could you provide us with technical options and associated LoE to enable ThinkHazard! to use remote layer from Afghanistan GeoNode (http://disasterrisk.af.geonode.org/ )

[2017-12-15 16:53] stufraser1 commented on #816
prerequisite issue to solve first: #818

[2017-12-15 17:08] stufraser1 commented on #788
see #818

[2017-12-15 17:09] stufraser1 commented on #818
see #788

[2017-12-15 17:11] stufraser1 commented on #804
@tonio  can you confirm you need my inputs here?

[2017-12-16 14:37] #782 closed

[2017-12-16 14:39] #749 closed

[2017-12-16 14:42] stufraser1 opened #823 "user sign in?"
Consider options available, to have unobtrusive user sign in, enabling better user tracking. May be required for m&e of tool

[2017-12-16 14:43] stufraser1 opened #824 "disclaimer adjustments"
User centred design expert has advised disclaimer is too long and obscure message of tool. To improve.

[2017-12-18 14:38] fjacon commented on #821
@vdeparday we can look into this in January. Not before.

[2017-12-22 10:23] stufraser1 opened #825 "interest in water pollution"
explore inclusion of water pollution, and follow up air pollution

[2018-01-10 22:51] stufraser1 opened #826 "wrap data owner"
data owner label too long for map window border - wrap, smaller font or cut short

E.g. http://thinkhazard.org/en/report/133-kenya/EQ

[2018-01-11 17:29] stufraser1 opened #827 "About page - broken link"
We have a broken link to user guide in the about page. The link to methodology works, and looks to be the same format. Requires fixing.

link in question:
<p>
{{gettext('A short user guide is available [here](%(link)s), and the full methodology [here](%(link2)s).',
link='thinkhazard:static/documents/ThinkHazard_briefUserGuide_v2.pdf',
link2='thinkhazard:static/documents/thinkhazard-methodology-rep

[2018-01-11 17:33] stufraser1 commented on #742
Add option to download .shp of hazard levels for each peril

[2018-01-11 17:34] stufraser1 opened #828 "New landslide data in"
NASA 2017 landslide data to be included. Requires pre-processing (area weighted as for flood?)

[2018-01-12 16:32] stufraser1 opened #829 "ADM2 Haz level csv export"
export to csv does not deal well with comma in ADM name -- fix required:
Moldova, Republic of (ADM0)
Stormont, Dundas and Glengarry (ADM2) - in Ontario Canada
al-Ismailia (ADM1) in Egypt

[2018-01-23 13:55] stufraser1 opened #830 "Dependency security vulnerability"
I received an alert from github as follows:
Known  moderate severity security vulnerability detected in jquery < 3.0.0 defined in package.json.
package.json update suggested: jquery ~> 3.0.0.

Please resolve this dependency vulnerability.

[2018-01-23 16:43] stufraser1 commented on #818
Issues:
- [ ] Host WB official boundaries on TH basemap (correct shading, shows rivers, appropriate labelling for showing hazard levels
- [ ] Jammu and Kashmir to show in Pakistan and India
- [ ] Kosovo boundaries to show as determined by WB
- [ ] Nepal boundaries to refelct 7 provinces, not 5 (old boundaries)
- [ ] Resolve changes to any ADM codes due to change in data source
- [ ] Ensure oversea

[2018-01-23 16:58] stufraser1 commented on #808
@fjacon  What would be the level of effort, to build in a process to generate a GEOJSON file in the data harvesting process, that could be used to populate the TH data coverage map? This is currently done manually via GIS software (manually produce shapefile, convert to GEOJSON and host on github for implementation).

[2018-01-24 14:06] #830 closed

[2018-01-29 08:00] fjacon commented on #820
Hi Stuart,
We need more info on this. I do not see clearly what is expected from us.

[2018-01-29 08:01] fjacon commented on #822
@stufraser1 could you give us an example or two ? Thanks

[2018-01-29 08:03] #827 closed

[2018-01-30 15:30] stufraser1 commented on #822
@ErikKBethke  Have you made progress on updating the layer title to be more user-reable?
We need to assign some in GeoNode, to provide final examples to camptocamp.

[2018-01-30 15:54] stufraser1 commented on #820
User feedback includes the fact that the methodology is hard to find.

We would like to look at possibility of including a couple of tool-tips / hover pop-up.

1. One link to the full methodology document located (perhaps) at the Hazard: <hazard level> label / heading on the hazard-specific page e.g. where coastal flood is identified as High on this page: http://thinkhazard.org/en/report/40123-uni

[2018-01-30 15:56] arnaud-morvan commented on #808
As I understand, we should add in the web app a geojson rendered view of the coverages based on the  decision tree results.

Note that it seems there is no real need for a real file. The geojson could be rendered at runtime, this would simplify the publication process. In that way we would be capable of displaying differents coverage maps for the admin and public databases. Note that the public da

[2018-01-30 16:08] stufraser1 commented on #808
OK, that sounds fine. There is no particular need for a GEOJSON file for export of this data coverage map.
In the present map, we manually assigned datasets labelled as 'local' but known to have an extent larger than one country as regional. There is no obvious and clean way to auto-identify these at the moment: Perhaps we can include a label in the metadata to identify regional datasets (e.g. as

[2018-01-31 09:19] arnaud-morvan commented on #808
As I understand, we should add, in the web app, a geojson rendered view of the coverages based on the  decision tree results.

Note that it seems there is no real need for a real file. The geojson could be rendered at runtime, this would simplify the publication process. In that way we would be capable of displaying differents coverage maps for the admin and public databases. Note that the public

[2018-01-31 17:03] stufraser1 opened #831 "Implement offline post-import checklist"
Implement a post-data import checklist to ensure data is displaying as expected, to have formalised 'data sign off' of new data before publishing to public server. Sign off to be stored in an admin google sheet recording data imports.

To include
- [ ] data imported correctly (all columns as expected on Admin UI
- [ ] Data styled with appropriate metadata in Geonode, download functions correctly.

[2018-01-31 17:06] stufraser1 opened #832 "Consider additional 'context' tab"
Consider an additional page, giving exposure context, to sit at level of hazard-specific page.
Page could provide overview of demographic data linked from WB DEC data. Analysis of hazard+exposure data is not evisaged. This is for additional data display to help users contextualise the risk. Still to consider: is this too much scope creep.

[2018-02-01 13:48] fjacon commented on #805
@stufraser1 : I suggest to open 3 different issues.
Meanwhile
N°1 : should be possible
N°2 : on your example, the data source is visible
N°3 : should be possible

[2018-02-08 09:21] tonio commented on #820
- For 1. we could have something like this:
![screenshot from 2018-02-08 09-55-11](https://user-images.githubusercontent.com/21686/35964120-0df3f75e-0cb7-11e8-8ec5-a9efc6df8992.png)
The help icon makes the popover appears on click.

 - Concerning 2. I'll try to avoid a second help button in the title: what would this description looks like ? could you give us an example to see its length?

[2018-02-08 10:18] tonio commented on #829
Cannot reproduce. I can open it in LibreOffice (default settings, ie: `"` as string delimiter), and works as expected. comma inside double quotes are ignored.
What tool do you use to open it ? can't you configure the string delimiter when opening it?

[2018-02-16 17:46] ErikKBethke commented on #822
I have been holding off on actually updating the layer titles in GeoNode, but can start pushing some examples to the production server (a great example would be the [GEM layers](https://www.geonode-gfdrrlab.org/layers/?limit=100&offset=0&title__icontains=gem) to test with).

If you would like me to update what I have, please advise. There are quite a few layers and I am still working through the n

[2018-02-16 17:49] ErikKBethke commented on #822
Regarding the changes to be made, I would think that once the changes go live it would be fairly simple to update the legend by modifying the way that the [report_hazard_category.jinja2](https://github.com/GFDRR/thinkhazard/blob/master/thinkhazard/templates/report_hazard_category.jinja2) is set up. Could be as simple as modifying the following code to deal with lengthy params:

`          <dt>Haza

[2018-02-20 08:54] stufraser1 opened #833 "Add the data source name to 'unavailable source' text"
Possible to add the data source to the text 'The data used to classify the hazard in this area is not publicly available to view or download due to licensing restrictions.'

Can we use metadata field 'data owner', to add in the firm name, to make the text:
'The data used to classify the hazard in this area is not publicly available to view or download due to licensing restrictions. Contact [data o

[2018-02-20 08:56] stufraser1 opened #834 "Admin table - new field"
Please add a field to the table at http://thinkhazard.org/admin/hazardsets.
This field should indicate whether the data will be shown in the map viewer hazard data toggle (or whether restrictions mean it will not be shown).

Sometimes we expect data to be shown, but it shows with 'data unavailable message'. This table will help to validate issue reported #835

[2018-02-20 08:59] stufraser1 opened #835 "Bug - restricted data source text"
Bug - restricted data source text sometimes shows when the data source should be open. Other times does not show (i.e. shows legend and data info as expected based on licence for dataset)
Sometimes the initial view shows the data information, then zoomed in it shows restricted text.

E.g. Hazard data displaying ‘cant be shown’, but is known to be open data, e.g. CY
http://thinkhazard.org/en/report

[2018-02-20 09:01] #805 closed

[2018-02-21 11:42] stufraser1 opened #836 "Adequate links to event catalogues?"
Include adequate links to EMDAT and desinventar as source of recent event catalogues

[2018-02-21 12:23] stufraser1 opened #837 "Adequate links to real-time event monitoring platforms"
For users looking for real-time information on hazards - provide a set of links to platforms providing that information.

[2018-02-27 08:07] fjacon commented on #822
@stufraser1 : I agree with @ErikKBethke that using layer title instead of hazard set would not necessarily make sense.

[2018-02-27 13:50] stufraser1 commented on #820
I like this.

re 1) - I'm thinking about producing a single page for each hazard, that this link could direct to (avoiding link to full method doc)
re 2) This would be likely the same amount of text as given in this example. I'll give some examples.

[2018-02-27 13:55] stufraser1 commented on #829
I open in latest version of MS Excel using default settings. Default text delimiter = ''.
I'll investigate further

[2018-02-27 15:11] fjacon commented on #835
can be seen on this :
http://thinkhazard.org/en/report/576-bangladesh-chittagong/CY
CY-GLOBAL-GAR should not be restricted but CY-ASIA is.
Now both are restricted on this example.

[2018-02-28 13:08] stufraser1 commented on #292
Search bar currently does not retain location being viewed. Suggest not to change this. On scrolling, retain breadcrumb and hazard label with colour. Potential improvement in a v3 dev phase

[2018-03-05 11:01] fjacon commented on #837
@stufraser1 : is it just about adding new 'further resources" ?
Or do you want a new rubric ?

[2018-03-05 11:02] fjacon commented on #836
@stufraser1  as "further ressources" ?

[2018-03-06 12:06] stufraser1 commented on #836
I think either a link in FAQ, or a 'fixed' further resource that appears on each page, at or near the top of the list.

[2018-03-06 12:06] stufraser1 commented on #837
I think either a link in FAQ, or a 'fixed' small set of links in 'further resources' that appears on each page, at or near the top of the list.

[2018-03-06 15:35] stufraser1 commented on #820
@tonio I'm going to email you the suggested text that combines the points 1 and 2 into a single statement. Max length: c. 500 characters. Each box includes one link to the full methodology pdf (already linked from FAQs). GFDRR haven't yet agreed on how best to produce a single page for each hazard, so we'll use the existing pdf link for the foreseeable future.

The statements may require changing

[2018-03-06 17:09] stufraser1 commented on #829
@tonio  I replicated this issue in MS Excel (on Mac), in Numbers on Mac, and LibreOffice on Mac.

I am emailing you a set of screenshots, that lead me to ask : is the tet delimiter being stripped out of the file during the csv export function? I suspect it might be, which is why we're seeing strings like "Moldova, Republic Of" being split across two columns. Because this only happens with a few st

[2018-03-06 17:12] stufraser1 commented on #835
@fjacon I don't think this requires more from me at this stage, correct me if you do need something more from me

[2018-03-06 17:25] stufraser1 commented on #822
@fjacon I understand the hesitation to use layer title because of the return period value being in layer title. Internally we had discussed to update hazard set to be the same as layer title, without the return period value as Erik noted ("It might make sense to also update hazard set titles and continue to use those").
= It is agreed to keep using hazard set.

The issue remains that hazard set st

[2018-03-07 07:48] tonio commented on #829
OK, I can reproduce. CSV for one type & for all types are not generated the same way. I was checking the «all types» one. I can see the error for the «one type» one. I'll digg into it.

[2018-03-07 08:57] stufraser1 commented on #829
Interesting that you can get all types export to work... when I attempt an 'all types' export it often times out (same when I try one type for FL and more occasionally others, too)

[2018-03-07 12:33] stufraser1 commented on #787
Estimated LOE required

[2018-03-07 12:33] stufraser1 commented on #821
Estimated LOE required

[2018-03-09 13:36] tonio commented on #835
Fix deployed on int http://int.thinkhazard.org/fr/report/576-bangladesh-chittagong/CY

[2018-03-09 14:15] stufraser1 commented on #835
In this case, the hazard layer CY-ASIA-IF should not be shown to the user. CY-GLOBAL-GAR15 should be. Can you confirm the restricted layer will show the licence restriction text and not the hazard data on screen, when fully integrated?
When you click on 'More details' button, the layer does not show publicly on Geonode, which is correct - so should also not show in TH.
Thanks

[2018-03-09 14:24] tonio commented on #835
It should be the case on integration. You may need to empty your cache to see it.

[2018-03-09 15:12] stufraser1 commented on #835
This is odd - no its the other end of the problem: I've just cleared my cache and I see the licence restriction text for both layers now!
Viewing on latest mac, latest firefox, private browsing window and normal browsing window. In both cases on the first attempt to show CY-GLOBAL-GAR after clearing the cache (I also deleted Thinkhazard cookies), I sometimes see the legend very briefly before it s

[2018-03-13 17:20] stufraser1 commented on #818
We have a new layer, which holds the potential to incorporate WB boundaries into the TH basemap, to show disputed boundaries.

A question remains over whether (or how easily) this new layer can be implemented in TH.
Currently, the map is implemented using Openlayers Javascript to access the style via a MapBox API URL + access key. The revised map (HTML file sent by email) is generated using MapBox

[2018-03-16 08:53] tonio commented on #835
I've check with multiples OS/browser, and it seems correct to me on http://int.thinkhazard.org/fr/report/576-bangladesh-chittagong/CY:

 -  `CY-ASIA-IF`:
![screenshot from 2018-03-16 08-42-05](https://user-images.githubusercontent.com/21686/37511545-7e427116-28ff-11e8-9056-57af4868d31d.png)

 - `CY-GLOBAL-GAR15`:
![screenshot from 2018-03-16 08-42-16](https://user-images.githubusercontent.com/2168

[2018-03-16 09:27] stufraser1 commented on #835
Agreed, seems to work now. Only for Chittagong at present, but expect this is for testing purposes.

[2018-03-16 09:28] tonio commented on #829
Fix deployed on integration.

[2018-03-16 09:45] tonio commented on #835
Is there another place where I can test the fix?

[2018-03-16 10:15] stufraser1 commented on #829
I think it is only this combination of datasets that has this issue at present.
So: India, Thailand or Cambodia Cyclone (same data sets as Chittagong - 1 restricted, one not)

Others:
Indonesia Landslide - two datasets, both open to view though (so may not provide a good test)
Mexico earthquake - two datasets, both open to view

[2018-03-16 10:16] stufraser1 commented on #835
I think it is only this combination of datasets that has this issue at present.
So: India, Thailand or Cambodia Cyclone (same data sets as Chittagong - 1 restricted, one not)

Others:
Indonesia Landslide - two datasets, both open to view though (so may not provide a good test)
Mexico earthquake - two datasets, both open to view

[2018-03-16 10:23] stufraser1 commented on #829
Tested on EH, EQ, and LS single hazard csv downloads. Looks to be fixed, thank you

[2018-03-16 13:29] tonio commented on #834
Deployed on integration.

[2018-03-16 13:32] stufraser1 commented on #834
Looks great, and flags the correct layers as hidden. Thank you

[2018-03-16 13:54] tonio commented on #833
Deployed on integration.
![screenshot from 2018-03-16 14-52-53](https://user-images.githubusercontent.com/21686/37524341-da2fef4c-2929-11e8-9632-ce35d38dfbfe.png)

[2018-03-16 14:54] stufraser1 commented on #833
Looks great, thank you. Is it possible to include at the firm name, a hyperlink to the firm's website (e.g. the same one used in the 'About page')?

[2018-03-21 08:52] fjacon commented on #835
@stufraser1 Can we deploy on production ?

[2018-03-21 08:59] fjacon commented on #833
The problem is that we do not have the hyperlink in the database.
We could have a method to rebuild this link by matching with the link we have in the "about" page. But it will not work for all cases. If the match fails we would have no link.
Is that OK ?

[2018-03-21 09:27] stufraser1 commented on #835
Yes please

[2018-03-21 09:32] stufraser1 commented on #833
Understood. The naming is the key part for now. Happy to deploy that. Perhaps we can have an independent lookup of firm name and url, but the best method and place to store/maintain this lookup needs consideration (i.e. in layer metadata or in thinkhazard). Ok to deploy the name alone and update with url later, if you're happy to do so.

[2018-03-21 09:48] tonio commented on #833
OK. As the template has changed, translation will need update.
Should I push translations from integration (ie prod DB is unchanged), or deploy to production & then push to tx from production? In that case, untranslated (english) text will be shown until translation is done.

[2018-03-21 10:04] stufraser1 commented on #833
Please push from int, I will update transifex and let you know when done, to deploy to production

[2018-03-21 14:12] tonio commented on #818
I made some experiments & got something working with mapboxgl as baselayer BUT it is very slow, due to, among others:
 - libraries download,
 - some very large vector tiles (some are up to 2Mo in Indonesia) — I wonder what's wrong in the configuration —

Page size is multiplied at least by 3, and loading time by 2 in the test I ran today with mapboxgl & OL.

As there won't be interaction with the

[2018-03-26 09:27] tonio commented on #833
`ui` messages have been extracted & pushed to transifex from int.

[2018-03-26 10:06] fjacon commented on #808
Reminder:
It would take about 4 days (~30h) to deal with:
- Create SQL request and geojson view of coverage map data.
- Optimize perfomances, we may use some cache and/or PostgreSQL materialized view, refreshed after decision tree and/or publication.
- Use the new view in Coverage map dialog (we may use one request per hazardtype to reduce loading time and memory usage on first show).
- Deploy on

[2018-03-29 12:59] stufraser1 commented on #822
need to provide table of current name / layer ID to new name, for new SQL query to perform conversion.

[2018-03-29 13:06] vdeparday commented on #818
@tonio can you have a look at this layer: https://api.mapbox.com/styles/v1/gsdpm/civtq56ch000z2klqcuvgmzdw.html?fresh=true&title=true&access_token=pk.eyJ1IjoiZ3NkcG0iLCJhIjoiY2lqbmN5eG9mMDBndHVmbTU5Mmg1djF6MiJ9.QqFCD7tcmccysN8GUClW8w#1.61/1.3/-9.3

It should have only boundaries and labels as cleared by the WB cartographic team.

If it works, then @stufraser1 can you remove the boundary and labels

[2018-03-29 13:27] stufraser1 commented on #821
options: remote service with metadata patch on afg GN, or remote service and update metadata on our side, or manual download and upload to our GN
Need to confirm no. layers we would like

[2018-03-29 13:51] fjacon commented on #270
@tonio Can we define the box after simplification ? (ex: New Zealand, Philippines)

[2018-04-03 08:54] stufraser1 commented on #833
All amended strings (for this issue and other changes in About page) have been translated. Please pull translated strings.

[2018-04-05 11:12] tonio commented on #833
@stufraser1 PR have been fixed & merged, I just push new strings to
transifex from int. I'll be able to update prod as soon as new strings are
translated.

On 5 April 2018 at 12:19, Stuart Fraser <notifications@github.com> wrote:

--
Antoine Abt

Camptocamp France SAS
http://www.camptocamp.com

[2018-04-05 11:24] stufraser1 commented on #837
Added in new FAQ. Closing

[2018-04-05 11:24] #837 closed

[2018-04-05 11:25] stufraser1 commented on #836
Added in new FAQ. Closing

[2018-04-05 11:25] #836 closed

[2018-04-05 11:25] stufraser1 commented on #833
New strings are translated. Thanks

[2018-04-05 11:40] tonio commented on #833
Master branch (tag [v2.0.10](https://github.com/GFDRR/thinkhazard/releases/tag/v2.0.10) from today) has been deployed to production, and translations have been pulled.

[2018-04-09 14:08] tonio commented on #820
I just deployed a test branch on `int`. If it's ok  for you, I'll push new translations to transifex.

[2018-04-09 14:32] tonio commented on #818
Looks good.

![screenshot from 2018-04-09 16-31-10](https://user-images.githubusercontent.com/21686/38503858-767a6fde-3c13-11e8-8a73-76f2eff6c3e1.png)

It would be nice to have another layer without boundary & labels to test it before modifying the one in production.

[2018-04-10 08:44] stufraser1 commented on #818
Removed naming of countries and settlements of all levels.
Style URL: mapbox://styles/stufraser1/cjftf111617x32spjhncapgm2

[2018-04-10 08:56] stufraser1 commented on #820
Testing on int, I find
1. It's not easy to close the box (need to click on '?' again). Can we add a closing mechanism - closes when user clicks on an 'X' in the box, or when user clicks anywhere outside the box?
2. Water scarcity box is blank.
3. Question mark sits low in the circle, in the icon. Can it be placed more central?

I am revising the text, as reading it back on screen it needs improvin

[2018-04-20 13:31] tonio commented on #820
I fix those 3 points & integrate your changes into the branch deployed on integration.
It also contains the combined background layer with disputed borders.

Ready for testing: http://int.thinkhazard.org/fr/report/188-pakistan/DG

[2018-04-20 13:41] #829 closed

[2018-04-20 13:41] #834 closed

[2018-04-20 13:41] #833 closed

[2018-04-20 13:42] #835 closed

[2018-04-27 13:27] tonio commented on #818
@stufraser1 do you need anything from our side on this ticket?

[2018-04-27 13:33] fvanderbiest commented on #755
Since TH still harvests a geoserver-powered geonode, there's nothing to do here.
Closing.

[2018-04-27 13:33] #755 closed

[2018-04-27 14:15] stufraser1 commented on #818
Can you integrate mapbox://styles/stufraser1/cjg85v8ry11j42rs78ktuee4j please?
It has a balance of naming that should be used, to get best result between the one now on INT and the one on PROD

[2018-04-30 13:16] tonio commented on #818
I just switch to the new style on integration.

[2018-04-30 20:04] stufraser1 commented on #818
@tonio thank you for switching the layers. Having reviewed this, we need to revert to the previous baselayer without labels. There are too many clashes of labelling. Please revert to use the basemap .../stufraser1/cjftf111617x32spjhncapgm2

This can generate be pushed to production

[2018-05-04 06:28] tonio commented on #820
I think translations should be done for this before being pushed to production.
Are strings fixed now & can I push to transifex from int?

[2018-05-17 08:53] fjacon commented on #820
@stufraser1 can you check on Int server so we can push new strings on transifex ?

[2018-05-18 09:50] tonio commented on #820
I just pushed new strings to transifex.

[2018-05-18 13:11] tonio commented on #683
@stufraser1 could you please grant me access to the analytics account, so that I can start testing?

[2018-05-30 15:05] stufraser1 commented on #820
I'm making arrangements for translation in transifex.

[2018-06-15 04:08] stufraser1 commented on #820
FRE and ESP translations have been completed and can be pulled back to TH when possible.

[2018-06-15 06:28] tonio commented on #820
ESP looks complete but I still see untranslated strings for french:
![screenshot from 2018-06-15 08-27-34](https://user-images.githubusercontent.com/21686/41453449-1526bc46-7076-11e8-91c5-6b25b1123067.png)

[2018-06-19 15:53] stufraser1 commented on #820
Now included in transifex

[2018-08-23 20:24] vdeparday opened #847 "No data source for Urban Flood"
When trying to show data source, it says "Contact None" . Even the data is not free for download which should provide clear source and metadata on the data source.

![image](https://user-images.githubusercontent.com/1036189/44550039-f5bd8400-a6f0-11e8-9917-eedd767172ce.png)

[2018-09-19 13:05] stufraser1 commented on #847
This should be solved with a reharvest of data - I updated the metadata to reference FATHOM.

@tonio is it possible you could do a pull of all data?

While this is being done, I would like a dataset removed from the ones thinkhazard pulls. Hazard set ID 'CF-GLOBAL-GAR15'. We derived a set of regional datasets from this, with higher resolution, but this global dataset overrides their use. I've chan

[2018-09-21 07:21] fvanderbiest commented on #847
While harvesting https://www.geonode-gfdrrlab.org/api/documents/1072/?username=thinkhazard&api_key=xxx @tonio got an error message "Sorry, this request could not be processed. Please try again later."

The django container logs the following:
[code]

We're investigating the issue

[2018-09-21 07:28] fvanderbiest commented on #847
Witnessed with build `camptocamp/geonode_django:v2-20171123173713`.
Does this mean there was no harvesting done since 2017-11-23 ? Sounds weird.

[2018-09-21 20:15] stufraser1 commented on #847
That could well be the last harvest, as we've not added new data in the meantime

[2018-10-16 15:13] pzwsk opened #848 "Remove pop-up welcome window"
Issue: window appearing when you enter the website is annoying for users.

Suggestion: move content to about page and , if deemed necessary, place a disclaimer banner at the top for first visit.

[2018-10-16 17:35] stufraser1 commented on #824
ref #848 - additional feedback this should be changed

[2018-10-17 07:09] fjacon commented on #824
@stufraser1 should we do something asap about #848 ?

[2018-11-08 09:59] stufraser1 opened #851 "All data layers not visible"
@fjacon @pvalsecc @tonio
- An urgent issue to resolve please: All layers are set to 'not visible' at http://thinkhazard.org/admin/hazardsets. Many of these layers should be visible to any user.

Is it possible to retrieve the previous setting for each layer and restore them?

[2018-11-08 10:30] tonio commented on #851
There's a request done to geonode to update visibility.
@arnaud-morvan `layer` looks incorrectly set for those request. Didn't you had the same problem with harvesting recently?

[2018-11-14 10:40] arnaud-morvan commented on #851
Hi.
I just made a geonode 2.8 harvest on thinkhazard production server.
I've take a look at indonesia I see 3 cases:

EQ : http://thinkhazard.org/admin/preview/en/report/73768-indonesia-kalimantan-timur-kutai-timur/EQ
in "show data source" we can see the layer and "More details" is publicly available

FL : http://thinkhazard.org/admin/preview/en/report/73768-indonesia-kalimantan-timur-kutai-timur/

[2018-11-14 11:01] arnaud-morvan commented on #851
Concerning FL, the layer is private in geonode api:
https://www.geonode-gfdrrlab.org/api/layers/1295/
https://www.geonode-gfdrrlab.org/account/login/?next=/layers/hazard:adm2_fu_v3_4bit
but the GetLegendGraphic return 200 with an image, so thinkhard believe it is public:
https://www.geonode-gfdrrlab.org/geoserver/hazard/ows?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetLegendGraphic&FORMAT=image%2Fpng&LAYE

[2018-11-14 12:11] arnaud-morvan commented on #851
Concerning CF, the layer is correctly returned by: https://www.geonode-gfdrrlab.org/api/layers/915/
but not returned by: https://www.geonode-gfdrrlab.org/api/layers/
So it is not updated and typename is empty in thinkhazard database.

[2018-11-14 12:30] pvalsecc commented on #851
{"geonode_version": "2.8.1rc0", "meta": {"limit": 200, "next": "/api/layers/?limit=200&offset=200", "offset": 0,

[2018-11-29 17:28] MamadioCMCC opened #852 "Info box placement"
![immagine](https://user-images.githubusercontent.com/44863827/49239797-a4005600-f3d1-11e8-84ee-3f1502806f08.png)

Whenever I click on the "?" button, both the button and the textbox are shown as overlay on the header.
I'm using a Win10 laptop, the issue happens on any browser.
Suggestion: move the information below the map legend, and show it by default.

[2018-11-29 17:44] MamadioCMCC opened #853 "Hazard classification inconsistent with source data (earthquake)"
![immagine](https://user-images.githubusercontent.com/44863827/49240180-9f886d00-f3d2-11e8-9704-20eb9f0a0eaf.png)
![immagine](https://user-images.githubusercontent.com/44863827/49240760-035f6580-f3d4-11e8-93a2-c7fd35018414.png)

Hazard classification looks wrong in the examples: the regions fall in the low-very low hazard class according to the source data, but TH calculates it as medium.

[2018-11-29 22:16] MamadioCMCC opened #854 "Hazard class should be "none" when there is no hazard"
For some hazards, "nodata" is interpreted as "very low" hazard.

Some examples:
Coastal flood classified as "very low" where there is no coast (e.g. Switzerland, landlocked regions)
Similarly, cyclones are classified as "very low" on nodata areas (e.g. Italy)
Volcanic hazard classified as "low" where there are no volcanoes (e.g India)

[2018-12-12 08:49] tonio commented on #852
CSS were wrongly builded. Just rebuild it on prod & it is fixed.

[2018-12-12 14:52] #852 closed

[2018-12-12 14:52] MamadioCMCC commented on #852
Thank you

[2018-12-13 11:24] stufraser1 opened #855 "Update URL for method doc"
Where references are made to TH methodology, update the link to direct people to the online methods:
https://gfdrr.github.io/thinkhazardmethods/#introduction

Warning - though it will not require new translation, this will invalidate translated strings because the URL will change and string in Transifex will not match. This should be updated in Transifex next time strings are pushed there.

[2018-12-13 11:30] stufraser1 commented on #854
This requires discussion.
- India is low, because of volcanoes located on Andaman Islands (its just not very visible on map due to small islands)
- Coastal flood does need updating to show land-locked ADM units as NoData
- I would agree, lets change CY to be NoData (so then it is also clear it is cyclone only, not other winds included)

This requires updating the raw hazard layers to a nodata valu

[2018-12-13 11:31] stufraser1 commented on #848
Propose to have pop-up only once. See #824

[2018-12-13 11:31] #848 closed

[2018-12-13 11:32] stufraser1 commented on #824
Another call to have pop-up appear on first use only
(closed issue #848)

[2018-12-13 11:36] stufraser1 commented on #820
@tonio transifex translation is present in UI resources but the pop-up info box is not present in production server. Please pull translation and include in production.

[2018-12-13 11:37] stufraser1 commented on #775
@fjacon Can this be finalised and closed with remaining time on contract?

[2018-12-13 11:42] stufraser1 commented on #851
@pvalsecc @arnaud-morvan
It looks like I can download e.g. EQ-ET-GFDRR* now without logging into GeoNode. So looks to be fixed to me.
From your perspective is this resolved?

[2018-12-13 12:03] stufraser1 commented on #847
Urban Flood source: https://www.geonode-gfdrrlab.org/layers/hazard:adm2_uu_v5_4bit
River Flood source: https://www.geonode-gfdrrlab.org/layers/hazard:adm2_fu_v3_4bit

Both private in Geonode (correct)
Both not visible in TH - viewing in admin pages show no layer found. They should be used in TH.
![image](https://user-images.githubusercontent.com/12515042/49937414-87cedf80-fece-11e8-918e-932f70841d

[2018-12-13 12:15] tonio commented on #820
@stufraser1 I just did it in production.

[2018-12-13 12:42] fjacon commented on #775
@arnaud-morvan @pvalsecc do you think this is still needed ?

[2018-12-13 13:46] #851 closed

[2018-12-13 19:48] stufraser1 opened #856 "improve linking to documents"
Is it possible to link to document URLs, rather than PDFs in GeoNode, and dynamically check and remove any links that are broken?

[2018-12-14 18:55] MamadioCMCC commented on #821
If we plan to move all data to HEV-E geonode, we may close this issue.

[2019-02-22 09:56] stufraser1 opened #857 "Unable to click on other countries when showing Russia"
When on a page showing Russian Federation hazard levels, e.g. http://thinkhazard.org/en/report/204-russian-federation/VA
user is unable to click on other countries, as possible when looking at other locations.
In the example, user can only click on US and Canada to navigate there, or within Russia to zoom into ADM1 level

[2019-02-26 15:30] MamadioCMCC commented on #854
Coastal flood and cyclones rasters are corrected: zeroes turned into nodata, should solve the issue with "low hazard".

[2019-02-26 15:59] #854 closed

[2019-02-26 16:14] MamadioCMCC opened #858 "Remove unused layers"
The following layers (all return periods) can be removed from TH.

Superceded:
CF-EAF-GAR15 -   https://www.geonode-gfdrrlab.org/layers/hazard%3Agar15_rp50_afr
CF-EAS-GAR15 -   https://www.geonode-gfdrrlab.org/layers/hazard%3Agar15_rp50_asi
CF-NAM-GAR15 -   https://www.geonode-gfdrrlab.org/layers/hazard%3Agar15_rp50_ame
CF-PAC-GAR15 -   https://www.geonode-gfdrrlab.org/layers/hazard%3Agar15_rp50_p

[2019-02-26 16:36] matamadio opened #859 "Check region in TH admin"
Layers metadata looks correct under "region", but TH admin page display them as "no associated regions". As result, these regional layers (all return periods) are not accounted / shown as source over global dataset.

CF-COM-SWIO -   https://www.geonode-gfdrrlab.org/layers/hazard%3Aswio_com_50_cf
CF-ID-IVM -   https://www.geonode-gfdrrlab.org/layers/hazard%3As100
CF-MDG-SWIO -   https://www.geonode

[2019-02-26 16:58] MamadioCMCC opened #860 "Rename layers"
The following should be renamed in the "Hazard set" line shown under the map.

FL-GLOBAL-FATHOM instead of FL-GLOBAL-SSBN
https://www.geonode-gfdrrlab.org/layers/hazard:adm2_fu_v3_4bit

UF-GLOBAL-FATHOM instead of UF-GLOBAL-SSBN
https://www.geonode-gfdrrlab.org/layers/hazard:adm2_uu_v5_4bit

EQ-CR-WB instead of CR-EQ (all return periods)
https://www.geonode-gfdrrlab.org/layers/hazard%3Acr475krigcl

[2019-02-27 10:08] stufraser1 commented on #860
Note that the layer names are correct in geonode, but have not been reflected in TH when data has been subsequently harvested and processed.
Perhaps the layers need to be removed from the TH server, and re-harvested from scratch?

[2019-03-05 16:51] MamadioCMCC opened #861 "Show hazard event records as points on the map"
There is the option to show a layer of historical events on the hazard map, activated by a button. Records would be shown as points, with the option to use magnitude indication (color codes) from attributes. Full attributes would not be shown.
There is solid global coverage for some hazards, data have been aquried:
- Eartquake, Tsunami, Volcanic events and Storms/tornado tracking from NOAA
- Wildf

[2019-05-09 20:39] vdeparday opened #862 "Data source not showing for EQ for Cote d'Ivoire"
The data source is not showing here: http://www.thinkhazard.org/en/report/66-cote-divoire/EQ

But it is showing here: http://www.thinkhazard.org/en/report/94-ghana/EQ when I think it should be the same data layer

[2019-05-09 20:42] vdeparday opened #863 "Revise text when source data is not available to include the name of the data source"
The current text is: "The data set used to classify the hazard in this area is not publicly available to view or download due to licensing restrictions. Please contact World Bank for further information"

Which doesn't provide any information. We should include the name of the layer, the name of the organization that produced the layer, and any other relevant information that would enable the user

[2019-05-15 16:03] stufraser1 commented on #828
Mat. Lets discuss this preprocessing. Should the hazard layer proposal not be funded, I'd like to run some tests in GIS against WB ADM polygons, to see what hazard level results from some areas thresholds.

[2019-05-15 16:43] MamadioCMCC commented on #862
Hi VIvien,
the dataset is shown empty as it does not have hazard data in that area, according to the full view:
https://www.geonode-gfdrrlab.org/layers/hazard:wa475

[2019-05-16 14:01] vdeparday opened #864 "Metadata is truncated"
The Abstract field length should not be limited or we should be able to click to reveal the rest of the metadata

![image](https://user-images.githubusercontent.com/1036189/57859681-6c3f6c00-77c1-11e9-8665-d9806f09d55f.png)

[2019-09-24 16:45] MamadioCMCC commented on #788
A python script is available for editing original WB boundaries into SHP for thinkhazard.
Edits include:
- modification of geometric features to solve zoom issues (France, New Zealand, Japan)
- modification of names;
- adding ADM0 names translation fields;
- adding disputed areas (to be shown in TH with different legend, e.g. dashed border)

[2019-10-01 15:10] stufraser1 opened #865 "Add new logo to about page"
Please add this logo to the bottom row on the about page under 'The following organizations have contributed data ...' (about_body.jinja2)
![EU-ACP Logo (Sendai Colors) EN](https://user-images.githubusercontent.com/12515042/65969175-40651000-e45c-11e9-9e89-bae7664fe8d5.png)

URL to be added to logo: https://www.preventionweb.net/resilient-africa/home

[2019-10-08 15:18] stufraser1 commented on #831
UPDATE:
Focus of this issue was on ensuring the data displayed correctly in TH. This is more of a **manual check** by a TH admin, to be conducted in the ThinkHazard preview page, BEFORE publishing to public server. Sign off to be stored in an admin google sheet recording data imports.

Manual admin checklist includes:
- whether the data layer has been uploaded to TH correctly (this is shown in Adm

[2019-10-08 15:19] stufraser1 commented on #831
Suggest this is written to the proposed Slate admin manual

[2019-10-08 15:52] stufraser1 commented on #863
Prefer to leave it as it is, and when TH takes data off the risk data library database, we can provide more information on the licence type, and we can direct users to the RDL page, where they will be able to see metadata and contact the data provider on that basis. At present, the names of the layers are created for TH, and dont necessarily make sense to a user. The name of the orgnisation should

[2019-10-08 15:56] MamadioCMCC opened #866 "NA areas of global layers ranked as "very low", says restricted information"
Example on Cyclone global layer.
This layer (https://www.geonode-gfdrrlab.org/layers/hazard:viento_mundo_tr100_int1) has open license and has NoData in most non-tropical regions (e.g. Europe).
The layer information in the TH page writes same message as restricted license layer: "The data set used to classify the hazard in this area is not publicly available to view or download due to licensing res

[2019-10-08 16:03] stufraser1 commented on #856
If the Geonode record includes a document URL (from the web, e.g. original source) - field:  external document / external URL

Example: https://www.geonode-gfdrrlab.org/documents/343/metadata_detail
External Document link is to https://www.emdat.be/index.php

[2019-10-08 16:06] stufraser1 commented on #856
This is part of a bigger plan to have the resource section reliant not on documents uploaded to Geonode, but from a direct ML-informed web search / scrape of relevant reports.

[2019-10-09 15:14] stufraser1 commented on #866
The same issue occurs for coastal flood - inland areas should be no data.

We had this issue previously and I thought we had resolved it - at that time I recall we had zeroes in places with nodata; zero value got translated to very low hazard. Changing the data source to have 'nodata' raster value where there truly is no data should have resolved it.

For a successful application of this, @Mamadio

[2019-10-09 15:14] MamadioCMCC commented on #816
This table allow to join the geonames database (geonameid) to the TH layer for ADM2 (ADM2_code) [cities.xlsx](https://github.com/GFDRR/thinkhazard/files/3708093/cities.xlsx)

[2019-10-14 14:19] MamadioCMCC commented on #866
I compared volcanic raster (correctly classified) and coastal flood raster (incorectly classified).
Both have "nodata" as value where there is no hazard; the difference is:
- VO have NoData value = 0
- CF have NoData value = -3.40282306074e+038
I will re-export CF rasters setting NoData value = 0 and likely this will solve the issue.

[2019-11-25 16:52] MamadioCMCC commented on #866
CY and EQ layers have all been reclassified in order to have bg=nodata.
However, after harvest process not all layers are correctly imported.
![immagine](https://user-images.githubusercontent.com/44863827/69560422-015ec100-0fac-11ea-8801-2c762da15736.png)

 According to thresholds definitions:

[code]
It should process also:
https://www.geonode-gfdrrlab.org/layers/hazard:viento_mundo_tr100_int1
ht

[2019-12-13 16:42] MamadioCMCC opened #868 "Admin export of TH ranking"
While trying to extract the TH ranking for South Sudan from http://www.thinkhazard.org/admin/admindiv_hazardsets/ I noticed some issues:
- some hazards (CF, LS, VO, WS, EH,) have empty list, altought they seems to be correctly processed
- EQ hazard list does not include S. Sudan, althought they seems to be correctly processed
- as an improvement, it would be helpful to allow for csv download of fi

[2019-12-13 16:43] MamadioCMCC opened #869 "Admin export of TH rankings"
While trying to extract the TH ranking for South Sudan from http://www.thinkhazard.org/admin/admindiv_hazardsets/ I noticed some issues:
- some hazards (CF, LS, VO, WS, EH,) have empty list, altought they seems to be correctly processed
- EQ hazard list does not include S. Sudan, althought they seems to be correctly processed
- as an improvement, it would be helpful to allow for csv download of fi

[2019-12-13 16:45] #869 closed

[2019-12-17 11:33] fjacon commented on #831
@MamadioCMCC I do not see here anything that needs to be done on ThinkHazard! as it looks like all these are manual check.
Do you confirm ?

[2019-12-17 15:26] MamadioCMCC commented on #831
The original idea was to have a script to check the processing output; then, it turned into a manual check. Revising point by point, there are some minor adjustments that can be implemented on _TH side_ in order to help these issues.

If we want to be sure that all important metadata are added, we may simply mark those as mandatory fields when uploading a layer (GeoNode side).

This is partially a

[2020-01-14 14:50] MamadioCMCC opened #870 "**Before 27 Jan** Apache 2.4.x < 2.4.41 Multiple Vulnerabilities (128033)"
We received an advice from the WorldBank Threat & Vulnerability Management (ITSIS). I repost the content of the message:

The version of Apache httpd installed on the remote host is prior to 2.4.41. It is, therefore, affected by multiple vulnerabilities as referenced in the 2.4.41 advisory.

- HTTP/2 (2.4.20 through 2.4.39) very early pushes, for example configured with H2PushResource, could lead

[2020-02-05 12:56] MamadioCMCC commented on #828
New layers for LANDSLIDE hazard have been uploaded: **Global Landslide Hazard Map**
https://www.geonode-gfdrrlab.org/layers/hazard:ls_arup

It uses TH ranking as pixel value, i.e. 1 = VLO, 2 = LOW, 3 = MED and 4 = HIG

This should be the reference layer for global landslide hazard from now on, superceeding SEDAC and GAR layers.

It is based on the combination of these layers:
https://www.geonode-g

[2020-03-03 17:23] MamadioCMCC opened #879 "Editing of hazard ranks independently from source raster"
This is partly related to https://github.com/GFDRR/thinkhazard/issues/868

The managing of TH scores would help an improvement; at the moment, the only way to affect stored TH rankings is by changing the source data, upload, harvesting and processing. This is fine when everything works as intended; however, there are some cases where it would be nice to be able to manually fix one/few "unexpected"

[2020-03-03 17:41] MamadioCMCC opened #880 "Enabling two-entries layer: view and rank override"
Related to https://github.com/GFDRR/thinkhazard/issues/879

There are cases in which we want to be able to override the TH ranking algorythm in some way.
One alternative way to do that could be by providing a secondary layer, consisting of a raster (or a point feature) representing the centroids of ADM2 units. This is required when:
1) the set of data does not fit with the current classification s

[2020-03-17 14:02] MamadioCMCC opened #883 "Improve API documentation"
The only reference is the API.md in github. I suggest to include extended explanations and examples in a section of the online documentation.
To efficiently use the API for bulk downloads, one need to know the country codes associated to the features.
For this reason, we should provide also the API to download also ADM0, ADM1 and ADM2 information as json.

[2020-03-19 10:48] MamadioCMCC opened #884 "API access for third partes"
We need to provide API access to TH db for external users. Currently, they have issues using the queries from external domains. Here is the message:

[2020-03-19 11:48] MamadioCMCC commented on #880
After internal discussion, we decide that the use of a double-entry layer may be not as efficient and flexible for future needs.
It is suggested to focus on a more flexible hazard ranking script within TH instead of rely on this workaround.
First, as a test, we want to implement a new processing approach on our new LandSlide layer (this can be hardcoded because we would need it fast).
In this test

[2020-03-20 10:15] arnaud-morvan commented on #884
I've created related ticket in JIRA : https://jira.camptocamp.com/browse/GSWBTH-37

I've added CORS header on API on int.thinkhazard.org see: http://int.thinkhazard.org/fr/hazardcategory/EQ/LOW.json
[code]

[2020-05-01 14:39] #865 closed

[2020-06-08 06:23] darpanSpch commented on #672
Great work here!

Is it possible to obtain a full set of the icons used in Thinkhazard for use in our maps? If yes, could you please provide a reference? The icons looks better than the OCHA ones we are currently using.

Thanks.

[2020-06-11 08:57] MamadioCMCC commented on #883
API documentation have been amended.

[2020-06-11 08:57] #883 closed

[2020-06-11 11:19] MamadioCMCC commented on #787
Analytics page template to add for API monitoring:
https://analytics.google.com/analytics/web/template?uid=kYP-Mu9uT-O6Vdxe6o04Ig

[2020-06-11 11:19] #787 closed

[2020-06-11 11:24] #862 closed

[2020-06-11 11:26] MamadioCMCC commented on #855
Fixed in the new internal version.

[2020-06-11 11:26] #855 closed

[2020-06-24 13:19] MamadioCMCC commented on #866
Solved in THv2 update

[2020-06-24 13:20] #866 closed

[2020-06-24 13:33] MamadioCMCC commented on #868
Solved in THv2 update

[2020-06-24 13:33] #868 closed

[2020-06-24 13:34] MamadioCMCC commented on #823
Hi @stufraser1 is this still relevant or can I close it?

[2020-06-24 13:35] MamadioCMCC commented on #818
Updated shapefile for admin boundaries have been loaded.

[2020-06-24 13:35] #818 closed

[2020-06-24 13:47] MamadioCMCC commented on #858
Hazard_type is used as flag to identify those layers that needs to be harvested.

[2020-06-24 13:47] #858 closed

[2020-06-24 13:47] MamadioCMCC commented on #828
New layer processed and shown as intended.

[2020-06-24 13:47] #828 closed

[2020-06-24 13:49] #863 closed

[2020-06-24 13:50] MamadioCMCC commented on #804
Currently TH is well ranked when performing hazard searches on google.

[2020-06-24 13:50] #804 closed

[2020-06-24 13:50] MamadioCMCC commented on #856
Online slate documentation replaced pdf guide.

[2020-06-24 13:50] #856 closed

[2020-06-24 13:52] MamadioCMCC commented on #740
@stufraser1 can you check if still relevant?

[2020-07-07 07:07] #823 closed

[2020-07-07 07:08] #775 closed

[2020-07-07 07:10] MamadioCMCC commented on #847
Now River Flood is based on Fathom 2019; urban flood is still SSNB 2016, because new fathom does not include urban.

[2020-07-07 07:10] #870 closed

[2020-07-07 07:13] MamadioCMCC commented on #879
Not safe to include / rejected

[2020-07-07 07:13] #879 closed

[2020-07-07 07:14] MamadioCMCC commented on #860
Reharvest fix the issue. Closing.

[2020-07-07 07:14] #860 closed

[2020-07-07 07:18] #807 closed

[2021-02-16 10:10] RobSchilderr commented on #884
Hey did anyone have a solution on https://jira.camptocamp.com/browse/GSWBTH-37? I can not access this link unfortunately.

[2021-02-16 10:50] matamadio commented on #884
Hi Rob,

thanks for the feedback. CORS access should've been working, let me paste your message to help with solution:

[2021-02-17 12:06] arnaud-morvan commented on #884
Just tried with https://www.thinkhazard.org/fr/hazardcategory/FL/MED.json
Seems CORS headers are correct:
[code]
Could you give the url and the error message.

[2021-02-19 13:26] RobSchilderr commented on #884
Hi Arnaud, thanks for checking the issue. Here is the link that I used: http://thinkhazard.org/en/report/177.json

And here is a reproduction of my attempt: https://github.com/RobSchilderr/useSWRGetServer

[2021-02-20 09:55] RobSchilderr commented on #884
This link does work indeed. :)

[2021-02-22 17:54] arnaud-morvan commented on #884
Sorry but http://thinkhazard.org/en/report/177.json is not part of the API routes which supports cross origin requests.

The routes that support CORS are:
- `/admindiv_hazardsets/{hazardtype:([A-Z]{2})}.json`
- `/hazardcategory/{hazard_type:([A-Z]{2})}/{hazard_level:([A-Z]{3})}.json`

CORS headers are not added on other routes.

[2021-02-24 11:58] RobSchilderr commented on #884
Alright, thanks for answering :)

[2021-03-23 08:13] pzwsk opened #933 "Remove the disclaimer page popping up when opening the website."
![image](https://user-images.githubusercontent.com/2378439/112114139-fe7fda80-8bb7-11eb-805d-384e6eed5d28.png)

[2021-09-17 16:23] martyclark opened #934 "tx ERROR: Authorization Required"
Hi, I'm getting the following error after I attempt to make build:

[code]
I'm buildingon Ubuntu 20.04.

Can you offer any help?

[2022-02-14 09:49] EceOzen opened #938 "Build error"
Hi, I am very newbie in Docker. I am trying to build this project but I am continuously taking this error:

------
executor failed running [/bin/sh -c TX_USR=$TX_USR     TX_PWD=$TX_PWD     make -f docker.mk build]: exit code: 2

Is there anyone who has any idea to solve this?

Thank you so much!